/*----------------------------------------------*/
/*          hover-bar css                       */
/*----------------------------------------------*/
.hover-bar tr td.hover-bar-cell {
    background-color: #cccccc;
}

/*----------------------------------------------*/
/*          selectable css                      */
/*----------------------------------------------*/
.hover-bar tr td.selected-cell {
    background-color: #cccccc;
}
html>body .hover-bar tr.selected-row {
    background-color: #cccccc;
}

/*----------------------------------------------*/
/*          resize table column                 */
/*----------------------------------------------*/
th.resize-handle-active {
    cursor: e-resize !important;
}

div.resize-handle {
    cursor: e-resize;
    width: 2px;
    border-right: 1px dashed #1E90FF;
    position:absolute;
    top:0;
    left:0;
}

/*---------------------------------------------*/
/*     Draggable table column                  */
/*---------------------------------------------*/
table.draggable thead th {cursor:pointer;}
.ghostTd {width:auto; height:auto; padding:2px 8px; border:1px solid #000; position:absolute; font:normal 10px arial; background:#eee;}
table.draggable thead th.dragging {background:#eee !important; color:#000 !important;}
table.draggable thead th.hovering {background:#ccc !important; color:#555 !important;}
/*---------------------------------------------*/

/*----------------------------------------------*/
/*          Context Menu styles                 */
/*----------------------------------------------*/
#control_contextmenu {
    border:1px solid #666;
    background-color:#eee;
    min-width:150px;
}

#control_contextmenu ul {
    list-style:none;
    padding:0;
    margin:0;
    cursor:pointer;
}

#control_contextmenu ul li {
    text-align:left;
    padding:3px 10px 3px 5px;
    margin:0;
    cursor:pointer;
    font-family:"Lucida Grande",Verdana;
    text-decoration:none;
    color:#333;
    font-size:12px;
    font-weight:bold;
    border-top:1px solid #fff;
    border-left:1px solid #fff;
    border-bottom:1px solid #999;
    border-right:1px solid #999;
}

#control_contextmenu ul li.selected,
#control_contextmenu ul li:hover {
    color:#fff;
    background-color:#3875d7;
    cursor:pointer;
}

#control_contextmenu ul li.selected:hover {
    color:#333;
    background-color:#eee;
    cursor:pointer;
}

#control_contextmenu ul li.disabled,
#control_contextmenu ul li:hover.disabled {
    background-color: #eee;
    color:#999;
    cursor:pointer;
}
/*----------------------------------------------*/
/*          fixed headerRow                     */
/*----------------------------------------------*/
div.tableContainer {
    width: 99%;     /* table width will be 99% of this*/
    height: 296px;  /* must be greater than tbody*/
    overflow: auto;
    /*margin: 0 auto;*/
    margin: 0;
}
html>body div.tableContainer {
    width: 100%;
}

div.tableContainer table {
    width: 100%;     /*100% of container produces horiz. scroll in Mozilla*/
    border: none;
}
div.tableContainer table input {
    _font-size: 1.2em;  /* FF HACKS */
    margin-left: 0.2em;
    /*margin-right: 0.3em;*/
    width: 95%;
}

div.tableContainer td:last-child {
    padding-right: 20px;
} /*prevent Mozilla scrollbar from hiding cell content*/

div.tableContainer table>tbody  {  /* child selector syntax which IE6 and older do not support*/
    overflow: auto;
    height: 272px;
    overflow-x: hidden;
}

div.tableContainer table tfoot tr { /*idea of Renato Cherullo to help IE*/
    position: relative;
    overflow-x: hidden;
    _top: expression(parentNode.parentNode.offsetHeight >=offsetParent.offsetHeight ? 0 - parentNode.parentNode.offsetHeight + offsetParent.offsetHeight + offsetParent.scrollTop : 0);
}

div.tableContainer table thead tr { /*idea of Renato Cherullo to help IE*/
    position: relative;
    _top: expression(offsetParent.scrollTop);
    _vertical-align: top;
}

div.tableContainer tfoot td {
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    background-color: papayawhip;
    color: steelblue;
    border-top: solid 1px slategray;
}