
.message-boxes-container {
    display: none;
}

.message-box-container {
    float: left;
    width: 100%;
}

.message-box-container
.body-container {
    margin-bottom:1.3em;
    margin-top: 1em;
    padding-bottom: 1.7em;
}

.message-box-container
.buttons-container {
    padding-bottom: 1em;
}

.message-box-container
.body-container, .buttons-container {
    margin-left: 0.5em;
    float: left;
    width: 100%;
}

.message-box-container
.icon-container-error, .icon-container-error:hover {
    background: transparent url(/theme_gplus/icon/messages/ff/messagebox_critical.png) no-repeat scroll top left;
}

.message-box-container
.icon-container-info, .icon-container-info:hover {
    background: transparent url(/theme_gplus/icon/messages/ff/documentinfo.png) no-repeat scroll top left;
}

.message-box-container
.icon-container-question, .icon-container-question:hover {
    background: transparent url(/theme_gplus/icon/messages/ff/agt_update_critical.png) no-repeat scroll top left;
}

.message-box-container
.text-container {
    margin-left: 6.3em;
    padding-top: 1.7em;
}

.message-box-container
.text-container {
    max-height: 300px;
    overflow: auto;
}

.message-box-container
.text-informations-container {
    margin-right: 0.9em;
    margin-top: 3em;
    overflow: auto;
    padding: 0.6em;
    /* height: 18em; */
    height: 9.5em;
    border-style: solid;
    border-width: thin;
    font-family: monospace;
    font-size: 130%;
    background: #000000;
    color: #FFFFFF;
    margin-bottom:-0.8em;
}

.message-box-container
.button-informations {
    float: left;
}

.message-box-container
.button-ok, .button-cancel, .button-close {
    float: right;
}
