<span _="whitespace and CR's between tags adds &nbsp; in FF"
	class="dojoComboBoxOuter"
	><input style="display:none"  tabindex="-1" name="" value=""
		dojoAttachPoint="comboBoxValue"
	><input style="display:none"  tabindex="-1" name="" value=""
		dojoAttachPoint="comboBoxSelectionValue"
	><input type="text" autocomplete="off" class="dojoComboBox"
		dojoAttachEvent="key:_handleKeyEvents; keyUp: onKeyUp; compositionEnd; onResize;"
		dojoAttachPoint="textInputNode"
	><img hspace="0"
		vspace="0"
		class="dojoComboBox"
		dojoAttachPoint="downArrowNode"
		dojoAttachEvent="onMouseUp: handleArrowClick; onResize;"
		src="${this.buttonSrc}"
></span>
