<div class="EditorToolbarDomNode EditorToolbarSmallBg">
	<table cellpadding="1" cellspacing="0" border="0">
		<tbody>
			<tr valign="top" align="left">
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="htmltoggle">
						<span class="dojoE2TBIcon"
						style="background-image: none; width: 30px;" >&lt;h&gt;</span>
					</span>
				</td>
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="copy">
						<span class="dojoE2TBIcon dojoE2TBIcon_Copy">&nbsp;</span>
					</span>
				</td>
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="paste">
						<span class="dojoE2TBIcon dojoE2TBIcon_Paste">&nbsp;</span>
					</span>
				</td>
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="undo">
						<!-- FIXME: should we have the text "undo" here? -->
						<span class="dojoE2TBIcon dojoE2TBIcon_Undo">&nbsp;</span>
					</span>
				</td>
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="redo">
						<span class="dojoE2TBIcon dojoE2TBIcon_Redo">&nbsp;</span>
					</span>
				</td>
				<td isSpacer="true">
					<span class="iconContainer">
						<span class="dojoE2TBIcon dojoE2TBIcon_Sep"	style="width: 5px; min-width: 5px;"></span>
					</span>
				</td>
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="createlink">
						<span class="dojoE2TBIcon dojoE2TBIcon_Link">&nbsp;</span>
					</span>
				</td>
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="insertimage">
						<span class="dojoE2TBIcon dojoE2TBIcon_Image">&nbsp;</span>
					</span>
				</td>
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="inserthorizontalrule">
						<span class="dojoE2TBIcon dojoE2TBIcon_HorizontalLine ">&nbsp;</span>
					</span>
				</td>
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="bold">
						<span class="dojoE2TBIcon dojoE2TBIcon_Bold">&nbsp;</span>
					</span>
				</td>
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="italic">
						<span class="dojoE2TBIcon dojoE2TBIcon_Italic">&nbsp;</span>
					</span>
				</td>
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="underline">
						<span class="dojoE2TBIcon dojoE2TBIcon_Underline">&nbsp;</span>
					</span>
				</td>
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="strikethrough">
						<span
							class="dojoE2TBIcon dojoE2TBIcon_StrikeThrough">&nbsp;</span>
					</span>
				</td>
				<td isSpacer="true">
					<span class="iconContainer">
						<span class="dojoE2TBIcon dojoE2TBIcon_Sep"
							style="width: 5px; min-width: 5px;"></span>
					</span>
				</td>
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="insertunorderedlist">
						<span
							class="dojoE2TBIcon dojoE2TBIcon_BulletedList">&nbsp;</span>
					</span>
				</td>
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="insertorderedlist">
						<span
							class="dojoE2TBIcon dojoE2TBIcon_NumberedList">&nbsp;</span>
					</span>
				</td>
				<td isSpacer="true">
					<span class="iconContainer">
						<span class="dojoE2TBIcon dojoE2TBIcon_Sep" style="width: 5px; min-width: 5px;"></span>
					</span>
				</td>
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="indent">
						<span class="dojoE2TBIcon dojoE2TBIcon_Indent"
							unselectable="on">&nbsp;</span>
					</span>
				</td>
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="outdent">
						<span class="dojoE2TBIcon dojoE2TBIcon_Outdent"
							unselectable="on">&nbsp;</span>
					</span>
				</td>
				<td isSpacer="true">
					<span class="iconContainer">
						<span class="dojoE2TBIcon dojoE2TBIcon_Sep" style="width: 5px; min-width: 5px;"></span>
					</span>
				</td>
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="forecolor">
						<span class="dojoE2TBIcon dojoE2TBIcon_TextColor"
							unselectable="on">&nbsp;</span>
					</span>
				</td>
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="hilitecolor">
						<span class="dojoE2TBIcon dojoE2TBIcon_BackgroundColor"
							unselectable="on">&nbsp;</span>
					</span>
				</td>
				<td isSpacer="true">
					<span class="iconContainer">
						<span class="dojoE2TBIcon dojoE2TBIcon_Sep" style="width: 5px; min-width: 5px;"></span>
					</span>
				</td>
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="justifyleft">
						<span class="dojoE2TBIcon dojoE2TBIcon_LeftJustify">&nbsp;</span>
					</span>
				</td>
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="justifycenter">
						<span class="dojoE2TBIcon dojoE2TBIcon_CenterJustify">&nbsp;</span>
					</span>
				</td>
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="justifyright">
						<span class="dojoE2TBIcon dojoE2TBIcon_RightJustify">&nbsp;</span>
					</span>
				</td>
				<td>
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="justifyfull">
						<span class="dojoE2TBIcon dojoE2TBIcon_BlockJustify">&nbsp;</span>
					</span>
				</td>
				<td>
					<select class="dojoEditorToolbarItem" dojoETItemName="plainformatblock">
						<!-- FIXME: using "p" here inserts a paragraph in most cases! -->
						<option value="">-- format --</option>
						<option value="p">Normal</option>
						<option value="pre">Fixed Font</option>
						<option value="h1">Main Heading</option>
						<option value="h2">Section Heading</option>
						<option value="h3">Sub-Heading</option>
						<!-- <option value="blockquote">Block Quote</option> -->
					</select>
				</td>
				<td><!-- uncomment to enable save button -->
					<!-- save -->
					<!--span class="iconContainer dojoEditorToolbarItem" dojoETItemName="save">
						<span class="dojoE2TBIcon dojoE2TBIcon_Save">&nbsp;</span>
					</span-->
				</td>
				<td width="*">&nbsp;</td>
			</tr>
		</tbody>
	</table>
</div>
