.StyleDropdownContainer {
	position: absolute;
	z-index: 1000;
	overflow: auto;
	cursor: default;
	width: 250px;
	height: 250px;
	background-color: white;
	border: 1px solid black;
}

.ColorDropdownContainer {
	position: absolute;
	z-index: 1000;
	overflow: auto;
	cursor: default;
	width: 250px;
	height: 150px;
	background-color: white;
	border: 1px solid black;
}

.EditorToolbarDomNode {
	background-image: url(buttons/bg-fade.png);
	background-repeat: repeat-x;
	background-position: 0px -50px;
}

.EditorToolbarSmallBg {
	background-image: url(images/toolbar-bg.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}

/*
body {
	background:url(images/blank.gif) fixed;
}*/

.IEFixedToolbar {
	position:absolute;
	/* top:0; */
	top: expression(eval((document.documentElement||document.body).scrollTop));
}

div.bigIcon {
	width: 40px;
	height: 40px;
	/* background-color: white; */
	/* border: 1px solid #a6a7a3; */
	font-family: Verdana, Trebuchet, Tahoma, Arial;
}

.iconContainer {
	font-family: Verdana, Trebuchet, Tahoma, Arial;
	font-size: 13px;
	float: left;
	height: 18px;
	display: block;
	/* background-color: white; */
	cursor: pointer;
	padding: 1px 4px 1px 1px; /* almost the same as a transparent border */
	border: 0px;
}

.dojoE2TBIcon {
	display: block;
	text-align: center;
	min-width: 18px;
	width: 18px;
	height: 18px;
	/* background-color: #a6a7a3; */
	background-repeat: no-repeat;
	background-image: url(buttons/aggregate.gif);
}


.dojoE2TBIcon[class~=dojoE2TBIcon] {
}

.ToolbarButtonLatched {
    border: #316ac5 1px solid; !important;
    padding: 0px 3px 0px 0px; !important; /* make room for border */
    background-color: #c1d2ee;
}

.ToolbarButtonHighlighted {
    border: #316ac5 1px solid; !important;
    padding: 0px 3px 0px 0px; !important; /* make room for border */
    background-color: #dff1ff;
}

.ToolbarButtonDisabled{
    filter: gray() alpha(opacity=30); /* IE */
    opacity: 0.30; /* Safari, Opera and Mozilla */
}

.headingContainer {
	width: 150px;
	height: 30px;
	margin: 0px;
	/* padding-left: 5px; */
	overflow: hidden;
	line-height: 25px;
	border-bottom: 1px solid black;
	border-top: 1px solid white;
}

.EditorToolbarDomNode select {
	/* font-size: 14px; */
}

.dojoE2TBIcon_Sep { width: 5px; min-width: 5px; max-width: 5px; background-position: 0px 0px}
.dojoE2TBIcon_Backcolor { background-position: -18px 0px}
.dojoE2TBIcon_Bold { background-position: -36px 0px}
.dojoE2TBIcon_Cancel { background-position: -54px 0px}
.dojoE2TBIcon_Copy { background-position: -72px 0px}
.dojoE2TBIcon_Link { background-position: -90px 0px}
.dojoE2TBIcon_Cut { background-position: -108px 0px}
.dojoE2TBIcon_Delete { background-position: -126px 0px}
.dojoE2TBIcon_TextColor { background-position: -144px 0px}
.dojoE2TBIcon_BackgroundColor { background-position: -162px 0px}
.dojoE2TBIcon_Indent { background-position: -180px 0px}
.dojoE2TBIcon_HorizontalLine { background-position: -198px 0px}
.dojoE2TBIcon_Image { background-position: -216px 0px}
.dojoE2TBIcon_NumberedList { background-position: -234px 0px}
.dojoE2TBIcon_Table { background-position: -252px 0px}
.dojoE2TBIcon_BulletedList { background-position: -270px 0px}
.dojoE2TBIcon_Italic { background-position: -288px 0px}
.dojoE2TBIcon_CenterJustify { background-position: -306px 0px}
.dojoE2TBIcon_BlockJustify { background-position: -324px 0px}
.dojoE2TBIcon_LeftJustify { background-position: -342px 0px}
.dojoE2TBIcon_RightJustify { background-position: -360px 0px}
.dojoE2TBIcon_left_to_right { background-position: -378px 0px}
.dojoE2TBIcon_list_bullet_indent { background-position: -396px 0px}
.dojoE2TBIcon_list_bullet_outdent { background-position: -414px 0px}
.dojoE2TBIcon_list_num_indent { background-position: -432px 0px}
.dojoE2TBIcon_list_num_outdent { background-position: -450px 0px}
.dojoE2TBIcon_Outdent { background-position: -468px 0px}
.dojoE2TBIcon_Paste { background-position: -486px 0px}
.dojoE2TBIcon_Redo { background-position: -504px 0px}
dojoE2TBIcon_RemoveFormat { background-position: -522px 0px}
.dojoE2TBIcon_right_to_left { background-position: -540px 0px}
.dojoE2TBIcon_Save { background-position: -558px 0px}
.dojoE2TBIcon_Space { background-position: -576px 0px}
.dojoE2TBIcon_StrikeThrough { background-position: -594px 0px}
.dojoE2TBIcon_Subscript { background-position: -612px 0px}
.dojoE2TBIcon_Superscript { background-position: -630px 0px}
.dojoE2TBIcon_Underline { background-position: -648px 0px}
.dojoE2TBIcon_Undo { background-position: -666px 0px}
.dojoE2TBIcon_WikiWord { background-position: -684px 0px}

