<div>
	<div style="width: 90%; height: 200px;"
		dojoAttachPoint="rootLayoutNode">
		<div dojoAttachPoint="textAreaContainerNode"
			style="border: 0px; margin: 0px; overflow: hidden;">
		</div>
		<div dojoAttachPoint="statusBarContainerNode" class="statusBar">
			<div dojoAttachPoint="statusLabelNode"
				class="statusPanel"
				style="padding-right: 0px; z-index: 1;"></div>
			<div dojoAttachPoint="resizeHandleNode"></div>
		</div>
	</div>
</div>
