div.statusBar {
	background-color: ThreeDFace;
	height: 14px;
	padding: 1px;
	overflow: hidden;
	font-size: 12px;
}

div.statusPanel {
	background-color: ThreeDFace;
	border: 1px solid;
	border-color: ThreeDShadow ThreeDHighlight ThreeDHighlight ThreeDShadow;
	margin: 1px;
	padding: 2px 6px;
}
