<div style="position: relative; padding: 3px;">
		<div>
			<input type="button" value="pause"
				dojoAttachPoint="startStopButton"
				dojoAttachEvent="onClick: togglePaused;">
		</div>
		<div style="position: relative; width: ${this.width}; height: ${this.height};"
			dojoAttachPoint="imagesContainer"
			dojoAttachEvent="onClick: togglePaused;">
			<img dojoAttachPoint="img1" class="slideShowImg"
				style="z-index: 1; width: ${this.width}; height: ${this.height};"  />
			<img dojoAttachPoint="img2" class="slideShowImg"
				style="z-index: 0; width: ${this.width}; height: ${this.height};" />
		</div>
</div>