.dojoTaskBarItem {
	display: inline-block;
	background-color: ThreeDFace;
	border: outset 2px;
	margin-right: 5px;
	cursor: pointer;
	height: 35px;
	width: 100px;
	font-size: 10pt;
	white-space: nowrap;
	text-align: center;
	float: left;
	overflow: hidden;
}

.dojoTaskBarItem img {
	vertical-align: middle;
	margin-right: 5px;
	margin-left: 5px;
	height: 32px;
	width: 32px;
}

.dojoTaskBarItem a {
	 color: black;
	text-decoration: none;
}


