<div class="timePickerContainer" dojoAttachPoint="timePickerContainerNode">
	<table class="timeContainer" cellspacing="0" >
		<thead>
			<tr>
				<td class="timeCorner cornerTopLeft" valign="top">&nbsp;</td>
				<td class="timeLabelContainer hourSelector">${this.calendar.field-hour}</td>
				<td class="timeLabelContainer minutesHeading">${this.calendar.field-minute}</td>
				<td class="timeCorner cornerTopRight" valign="top">&nbsp;</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td valign="top" colspan="2" class="hours">
					<table align="center">
						<tbody dojoAttachPoint="hourContainerNode"
							dojoAttachEvent="onClick: onSetSelectedHour;">
							<tr>
								<td>12</td>
								<td>6</td>
							</tr>
							<tr>
								<td>1</td>
								<td>7</td>
							</tr>
							<tr>
								<td>2</td>
								<td>8</td>
							</tr>
							<tr>
								<td>3</td>
								<td>9</td>
							</tr>
							<tr>
								<td>4</td>
								<td>10</td>
							</tr>
							<tr>
								<td>5</td>
								<td>11</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td valign="top" class="minutes" colspan="2">
					<table align="center">
						<tbody dojoAttachPoint="minuteContainerNode"
							dojoAttachEvent="onClick: onSetSelectedMinute;">
							<tr>
								<td>00</td>
								<td>30</td>
							</tr>
							<tr>
								<td>05</td>
								<td>35</td>
							</tr>
							<tr>
								<td>10</td>
								<td>40</td>
							</tr>
							<tr>
								<td>15</td>
								<td>45</td>
							</tr>
							<tr>
								<td>20</td>
								<td>50</td>
							</tr>
							<tr>
								<td>25</td>
								<td>55</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td class="cornerBottomLeft">&nbsp;</td>
				<td valign="top" class="timeOptions">
					<table class="amPmContainer">
						<tbody dojoAttachPoint="amPmContainerNode"
							dojoAttachEvent="onClick: onSetSelectedAmPm;">
							<tr>
								<td id="am">${this.calendar.am}</td>
								<td id="pm">${this.calendar.pm}</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td class="timeOptions">
					<div dojoAttachPoint="anyTimeContainerNode"
						dojoAttachEvent="onClick: onSetSelectedAnyTime;"
						class="anyTimeContainer">${this.widgetStrings.any}</div>
				</td>
				<td class="cornerBottomRight">&nbsp;</td>
			</tr>
		</tbody>
	</table>
</div>
