
#mainmenu-container {
    width: 100%;
    height: 100%;
}

.treemenu-head {
    border: 1px solid;
}

.treemenu-upper-toolbar {
    min-height: 32px;
    width: 100%;
    background-color: #D9D9D9;
}

.treemenu-module-table {
    height: 100%;
    width: 100%;
}

.treemenu-module-table td {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
}

.treemenu-module-table td.disabled-module {
    cursor: default;
}

.treemenu-table {
    width: 100%;
    padding-right: 0.5em;
}

.treemenu-table .search-field {
    width: 100%;
    color: #ADADAD;
    font-style: italic;
}

/*
   assegnazione delle immagini ai moduli, la classe relativa é l'id del modulo
 */
/* Lascio attivi per compatibilità con chi non carica ile nuove voci --- DA TOGLIERE */
.treemenu-module-table td.GP_MENU_BASEDATA {
   background-image: url(/theme_gplus/icon/32/ff/normal/system_zoom.png);
}
.treemenu-module-table td.GP_MENU_BASEDATA:hover {
   background-image: url(/theme_gplus/icon/32/ff/hot/system_zoom.png);
}
.treemenu-module-table td.GP_MENU_PARTY {
   background-image: url(/theme_gplus/icon/32/ff/normal/customers_zoom.png);
}
.treemenu-module-table td.GP_MENU_PARTY:hover {
    background-image: url(/theme_gplus/icon/32/ff/hot/customers_zoom.png);
}
.treemenu-module-table td.GP_MENU_PERFMGM {
   background-image: url(/theme_gplus/icon/32/ff/normal/balance_zoom.png);
}
.treemenu-module-table td.GP_MENU_PERFMGM:hover {
   background-image: url(/theme_gplus/icon/32/ff/hot/balance_zoom.png);
}
.treemenu-module-table td.GP_MENU_CNTGES {
   background-image: url(/theme_gplus/icon/32/ff/normal/economics_zoom.png);
}
.treemenu-module-table td.GP_MENU_CNTGES:hover {
   background-image: url(/theme_gplus/icon/32/ff/hot/economics_zoom.png);
}
.treemenu-module-table td.GP_MENU_RENSOC {
   background-image: url(/theme_gplus/icon/32/ff/normal/customers_zoom.png);
}
.treemenu-module-table td.GP_MENU_RENSOC:hover {
   background-image: url(/theme_gplus/icon/32/ff/hot/customers_zoom.png);
}
/* fine DA TOGLIERE */

/*Dati base*/
.treemenu-module-table td.GP_MENU_00001 a {
    text-decoration: none;
    color: #808080 !important;
}
.treemenu-module-table td.GP_MENU_00001 a:hover {
    color: #FFF !important;
}
.treemenu-module-table td.GP_MENU_00001 a:before {
    content: "\f085";
    font-size: 30px;
}
.treemenu-module-table td.GP_MENU_00001-disabled a {
    text-decoration: none;
    color: #CCC !important;
}
.treemenu-module-table td.GP_MENU_00001-disabled a:hover {
    color: #FFF !important;
}
.treemenu-module-table td.GP_MENU_00001-disabled a:before {
    content: "\f085";
    font-size: 30px;
}

/* Performance management */
.treemenu-module-table td.GP_MENU_00085 a {
    text-decoration: none;
    color: #808080 !important;
}
.treemenu-module-table td.GP_MENU_00085 a:hover {
    color: #FFF !important;
}
.treemenu-module-table td.GP_MENU_00085 a:before {
    content: "\f3fd";
    font-size: 30px;
}
.treemenu-module-table td.GP_MENU_00085-disabled a {
    text-decoration: none;
    color: #CCC !important;
}
.treemenu-module-table td.GP_MENU_00085-disabled a:hover {
    color: #FFF !important;
}
.treemenu-module-table td.GP_MENU_00085-disabled a:before {
    content: "\f3fd";
    font-size: 30px;
}

/* Controllo gestione */
.treemenu-module-table td.GP_MENU_00143,
.treemenu-module-table td.GP_MENU_00143-disabled {
   background-image: url(/theme_gplus/icon/32/ff/normal/economics_zoom.png);
}
.treemenu-module-table td.GP_MENU_00143:hover {
   background-image: url(/theme_gplus/icon/32/ff/hot/economics_zoom.png);
}

/* Rendicontazione Sociale */
.treemenu-module-table td.GP_MENU_00182,
.treemenu-module-table td.GP_MENU_00182-disabled {
   background-image: url(/theme_gplus/icon/32/ff/normal/customers_zoom.png);
}
.treemenu-module-table td.GP_MENU_00182:hover {
   background-image: url(/theme_gplus/icon/32/ff/hot/customers_zoom.png);
}

/* Anticorruzione */
.treemenu-module-table td.GP_MENU_00268 a {
    text-decoration: none;
    color: #808080 !important;
}
.treemenu-module-table td.GP_MENU_00268 a:hover {
    color: #FFF !important;
}
.treemenu-module-table td.GP_MENU_00268 a:before {
    content: "\f0ae";
    font-size: 30px;
}
.treemenu-module-table td.GP_MENU_00268-disabled a {
    text-decoration: none;
    color: #CCC !important;
}
.treemenu-module-table td.GP_MENU_00268-disabled a:hover {
    color: #FFF !important;
}
.treemenu-module-table td.GP_MENU_00268-disabled a:before {
    content: "\f0ae";
    font-size: 30px;
}

/* Trasparenza */
.treemenu-module-table td.GP_MENU_00307 a {
    text-decoration: none;
    color: #808080 !important;
}
.treemenu-module-table td.GP_MENU_00307 a:hover {
    color: #FFF !important;
}
.treemenu-module-table td.GP_MENU_00307 a:before {
    content: "\f201";
    font-size: 30px;
}
.treemenu-module-table td.GP_MENU_00307-disabled a {
    text-decoration: none;
    color: #CCC !important;
}
.treemenu-module-table td.GP_MENU_00307-disabled a:hover {
    color: #FFF !important;
}
.treemenu-module-table td.GP_MENU_00307-disabled a:before {
    content: "\f201";
    font-size: 30px;
}

.treemenu-module-table td span { display: none; }

.treemenu-search-toolbar {
    height: 25px;
    width: 100%;
    background-color: #D9D9D9;
}

.treemenu-separator-toolbar {
	height: 2px; 
	border-bottom: solid 1px #808080;
}

.treemenu-function-toolbar {
    height: 28px;
    width: 100%;
    background-color: #D9D9D9;
}

.treemenu-function-toolbar table.treemenu-function-table {
    width: 100%;
    height: 100%;;
}

.treemenu-function-toolbar table.treemenu-function-table td {
    background-repeat: no-repeat;
    background-position: center;
    width: 42px;
    cursor: pointer;
}
/*
   assegnazione delle immagini alle funzioni
 */ 
.treemenu-function-toolbar table.treemenu-function-table td#mainmenu-function-openall a {
    text-decoration: none;
    color: #808080 !important;
}
.treemenu-function-toolbar table.treemenu-function-table td#mainmenu-function-openall a:hover {
    color: #FFF !important;
}
.treemenu-function-toolbar table.treemenu-function-table td#mainmenu-function-openall a:before {
    content: "\f151";
    font-size: 16px;
}

.treemenu-function-toolbar table.treemenu-function-table td#mainmenu-function-closeall a {
    text-decoration: none;
    color: #808080 !important;
}
.treemenu-function-toolbar table.treemenu-function-table td#mainmenu-function-closeall a:hover {
    color: #FFF !important;
}
.treemenu-function-toolbar table.treemenu-function-table td#mainmenu-function-closeall a:before {
    content: "\f150";
    font-size: 16px;
}

.treemenu-function-toolbar table.treemenu-function-table td.treemenu-function-clock a {
    text-decoration: none;
    color: #808080 !important;
}
.treemenu-function-toolbar table.treemenu-function-table td.treemenu-function-clock a:hover {
    color: #FFF !important;
}
.treemenu-function-toolbar table.treemenu-function-table td.treemenu-function-clock a:before {
    content: "\f1da";
    font-size: 16px;
}

.treemenu-function-toolbar table.treemenu-function-table td.treemenu-function-preferred a {
    text-decoration: none;
    color: #808080 !important;
}
.treemenu-function-toolbar table.treemenu-function-table td.treemenu-function-preferred a:hover {
    color: #FFF !important;
}
.treemenu-function-toolbar table.treemenu-function-table td.treemenu-function-preferred a:before {
    content: "\f005";
    font-size: 16px;
}

.treemenu-function-toolbar table.treemenu-function-table td.treemenu-function-home a {
    text-decoration: none;
    color: #808080 !important;
}
.treemenu-function-toolbar table.treemenu-function-table td.treemenu-function-home a:hover {
    color: #FFF !important;
}
.treemenu-function-toolbar table.treemenu-function-table td.treemenu-function-home a:before {
    content: "\f015";
    font-size: 16px;
}

.treemenu-function-toolbar table.treemenu-function-table td.treemenu-function-console {
    background-image: url(/theme_gplus/icon/24/ff/normal/run.png);
}
.treemenu-function-toolbar table.treemenu-function-table td.treemenu-function-console:hover {
    background-image: url(/theme_gplus/icon/24/ff/hot/run.png);
}

.treemenu-body {
    height: 100%;
    width: 100%;
}

.treemenu-body-slidearea-preferred,  .treemenu-body-slidearea-history {
    margin: 0;
    padding: .5em;
    min-height: 65px;
    border: 1px inset;
}

/* item cliccabili in preferred & history*/
.treemenu-item-facility {
  cursor: pointer;
  font-family: Arial;
  font-size: x-small;
  display: inline;
  padding-left: 0.2em;
}
.treemenu-item-facility-delete {
  display: inline;
  cursor: pointer;
  height: 100%;
  color: red;
  font-family: fantasy;
  /*background-image: url("/theme_gplus/icon/16/ff/normal/close_b.png");*/
}

.treemenu-body-links {
    overflow: auto;
    border: 1px solid;
}

/* override impostazioni albero standard (in style.css) */
.treemenu-outer-table {
    height: 100%;
    width: 100%;
    border: none !important;
}

.treemenu-outer-table tbody tr.menu-item span {
  white-space: nowrap;
  font-size: 0.9em;
}

.treemenu-outer-table tbody tr.menu-folder span {
  white-space: nowrap;
  font-size: 0.9em;
}
