/* ***************** */
/* stile Master Page */
/* ***************** */

/* text ente */
.company-text {
	font-size: 10;
	text-align : left;
}

/* text report */
.report-text {
	font-family: Times New Roman, Verdana, Helvetica, sans-serif;
	font-weight : bold;
	font-size: 10;
	font-style : italic;
	text-align : right;
}

/* text footer */
.text {
	font-size: 8;
}

.centered-tag {
	text-align: center;
}      

.cell-no-padding {
	padding: 0pt 0pt 0pt 0pt;
}
.lightgray-background {
    background-color: #F5F5F5
}
.align-bottom {
    vertical-align: bottom;
}
.center-style {
    vertical-align: center;
}            	