/* ********************************** */
/* stili  BIRT                        */
/* ********************************** */
.report {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10pt;
}

.number-text {
    font-size: 8;
}

.hidden-label {
    display: none;
}

.red-label {
    color: red;
}

.table-no-border {
	border: none;
}
.cell-no-border {
	border: none;
}
.cell-no-border-no-padding {
    border: none;
    padding: 0pt 0pt 0pt 0pt;
}
.header-cell-no-border-no-padding {
	background-color: #efefef;
	border: none;
    padding: 0pt 0pt 0pt 0pt;
}

/* Predefined Style Names */
/* render row */
.table-detail {
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9;
	border-right: 1pt solid gray;
	border-left: 1pt solid gray;
	text-align : left;
}

/* Predefined Style Names */
.table {
	border-bottom: 1pt solid gray;
}

.inner-table-detail {
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9;
	border: none !important;
	text-align : left;
}

/* Predefined Style Names */
.table-group-header-1 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9;
	border: 1pt solid gray;
	text-align : left;
}

/* Predefined Style Names */
.table-group-header-2 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9;
	border-right: 1pt solid gray;
	border-left: 1pt solid gray;
	text-align : left;
}

.detail {
	padding-left: 0.3em;
}

/* background color for alternate row */
.detail-alternate-row {
	background-color: #f5f5f5;
}

/* render header */
.cell-header {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9;
	border: 1pt solid gray;
	font-weight: bold;
	text-align : center;
	background-color: #efefef;
}

                    	