/* ***************** */
/* stile Master Page */
/* ***************** */
.first-report-text {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-weight : bold;
    font-size: 16;
    text-align : center;
}