 
<#escape x as x?xml>


<fo:table table-layout="fixed" width="100%" border="solid black">
	<fo:table-column column-width="proportional-column-width(1)"/>
	<fo:table-column column-width="proportional-column-width(1)"/>

	<fo:table-header>
		<fo:table-row>
			<fo:table-cell>
				<fo:block></fo:block>
			</fo:table-cell>
		</fo:table-row>
		<fo:table-row>
			<fo:table-cell font-weight="bold" font-size="8pt" text-align="center" border="solid black" padding="2pt">
				<fo:block>
				</fo:block>
			</fo:table-cell>
			<fo:table-cell font-weight="bold" font-size="8pt" text-align="center" border="solid black" padding="2pt">
				<fo:block>Client Billing Party Id</fo:block>
			</fo:table-cell>
			<fo:table-cell font-weight="bold" font-size="8pt" text-align="center" border="solid black" padding="2pt">
				<fo:block>Created Stamp</fo:block>
			</fo:table-cell>
		</fo:table-row>
	</fo:table-header>
	<fo:table-body>
	<fo:table-row>
<fo:table-cell><fo:block>
</fo:block></fo:table-cell>
<fo:table-cell border-left="solid black" border-right="solid black" padding-left="2pt" padding-top="2pt"  font-size="8pt"><fo:block>
<fo:block></fo:block>
</fo:block></fo:table-cell>
<fo:table-cell border-left="solid black" border-right="solid black" padding-left="2pt" padding-top="2pt"  font-size="8pt"><fo:block>
<fo:block>2009-03-17 13&amp;#58;20&amp;#58;11.000</fo:block>
</fo:block></fo:table-cell>
</fo:table-row>
<fo:table-row>
<fo:table-cell><fo:block>
</fo:block></fo:table-cell>
<fo:table-cell border-left="solid black" border-right="solid black" padding-left="2pt" padding-top="2pt"  font-size="8pt"><fo:block>
<fo:block></fo:block>
</fo:block></fo:table-cell>
<fo:table-cell border-left="solid black" border-right="solid black" padding-left="2pt" padding-top="2pt"  font-size="8pt"><fo:block>
<fo:block>2009-03-17 13&amp;#58;20&amp;#58;11.046</fo:block>
</fo:block></fo:table-cell>
</fo:table-row>
<fo:table-row>
<fo:table-cell><fo:block>
</fo:block></fo:table-cell>
<fo:table-cell border-left="solid black" border-right="solid black" padding-left="2pt" padding-top="2pt"  font-size="8pt"><fo:block>
<fo:block></fo:block>
</fo:block></fo:table-cell>
<fo:table-cell border-left="solid black" border-right="solid black" padding-left="2pt" padding-top="2pt"  font-size="8pt"><fo:block>
<fo:block>2009-03-17 13&amp;#58;20&amp;#58;11.047</fo:block>
</fo:block></fo:table-cell>
</fo:table-row>
<fo:table-row>
<fo:table-cell><fo:block>
</fo:block></fo:table-cell>
<fo:table-cell border-left="solid black" border-right="solid black" padding-left="2pt" padding-top="2pt"  font-size="8pt"><fo:block>
<fo:block></fo:block>
</fo:block></fo:table-cell>
<fo:table-cell border-left="solid black" border-right="solid black" padding-left="2pt" padding-top="2pt"  font-size="8pt"><fo:block>
<fo:block>2009-03-17 13&amp;#58;20&amp;#58;11.048</fo:block>
</fo:block></fo:table-cell>
</fo:table-row>
<fo:table-row>
<fo:table-cell><fo:block>
</fo:block></fo:table-cell>
<fo:table-cell border-left="solid black" border-right="solid black" padding-left="2pt" padding-top="2pt"  font-size="8pt"><fo:block>
<fo:block></fo:block>
</fo:block></fo:table-cell>
<fo:table-cell border-left="solid black" border-right="solid black" padding-left="2pt" padding-top="2pt"  font-size="8pt"><fo:block>
<fo:block>2009-03-17 13&amp;#58;20&amp;#58;11.049</fo:block>
</fo:block></fo:table-cell>
</fo:table-row>
<fo:table-row>
<fo:table-cell><fo:block>
</fo:block></fo:table-cell>
<fo:table-cell border-left="solid black" border-right="solid black" padding-left="2pt" padding-top="2pt"  font-size="8pt"><fo:block>
<fo:block></fo:block>
</fo:block></fo:table-cell>
<fo:table-cell border-left="solid black" border-right="solid black" padding-left="2pt" padding-top="2pt"  font-size="8pt"><fo:block>
<fo:block>2009-03-17 13&amp;#58;20&amp;#58;11.062</fo:block>
</fo:block></fo:table-cell>
</fo:table-row>
<fo:table-row>
<fo:table-cell><fo:block>
</fo:block></fo:table-cell>
<fo:table-cell border-left="solid black" border-right="solid black" padding-left="2pt" padding-top="2pt"  font-size="8pt"><fo:block>
<fo:block></fo:block>
</fo:block></fo:table-cell>
<fo:table-cell border-left="solid black" border-right="solid black" padding-left="2pt" padding-top="2pt"  font-size="8pt"><fo:block>
<fo:block>2009-03-17 13&amp;#58;20&amp;#58;11.063</fo:block>
</fo:block></fo:table-cell>
</fo:table-row>
<fo:table-row>
<fo:table-cell><fo:block>
</fo:block></fo:table-cell>
<fo:table-cell border-left="solid black" border-right="solid black" padding-left="2pt" padding-top="2pt"  font-size="8pt"><fo:block>
<fo:block></fo:block>
</fo:block></fo:table-cell>
<fo:table-cell border-left="solid black" border-right="solid black" padding-left="2pt" padding-top="2pt"  font-size="8pt"><fo:block>
<fo:block>2009-03-17 13&amp;#58;20&amp;#58;11.064</fo:block>
</fo:block></fo:table-cell>
</fo:table-row>
<fo:table-row>
<fo:table-cell><fo:block>
</fo:block></fo:table-cell>
<fo:table-cell border-left="solid black" border-right="solid black" padding-left="2pt" padding-top="2pt"  font-size="8pt"><fo:block>
<fo:block></fo:block>
</fo:block></fo:table-cell>
<fo:table-cell border-left="solid black" border-right="solid black" padding-left="2pt" padding-top="2pt"  font-size="8pt"><fo:block>
<fo:block>2009-03-17 13&amp;#58;20&amp;#58;11.065</fo:block>
</fo:block></fo:table-cell>
</fo:table-row>
<fo:table-row>
<fo:table-cell><fo:block>
</fo:block></fo:table-cell>
<fo:table-cell border-left="solid black" border-right="solid black" padding-left="2pt" padding-top="2pt"  font-size="8pt"><fo:block>
<fo:block></fo:block>
</fo:block></fo:table-cell>
<fo:table-cell border-left="solid black" border-right="solid black" padding-left="2pt" padding-top="2pt"  font-size="8pt"><fo:block>
<fo:block>2009-03-17 13&amp;#58;20&amp;#58;11.066</fo:block>
</fo:block></fo:table-cell>
</fo:table-row>
</fo:table-body></fo:table>
</#escape>