
		<tr>
			<td colspan="1" style="width: 15%;">
				<hr>
			</td>
			<td >
				<hr>
			</td>	
		</tr>

		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_monitoringDate.ftl" />		

		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_exposeReleaseDate.ftl" />	
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_exposePaginator.ftl" />
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_organizationIdHidden.ftl" />
