
.gzoom-main-decorator-div {
    font-family: sans-serif;
    background-color: #ffffff;
    color: #333333;
}

.gzoom-main-decorator-div table {
    width: 100%;
}

.gzoom-main-decorator-div table thead {
    background-color: #f0f0f0;
}

.gzoom-main-decorator-div table,
.gzoom-main-decorator-div table th,
.gzoom-main-decorator-div table td {
    border-color: #c0c0c0;
    border-width: 1px;
    border-style: solid;
    border-spacing: 0px;
    border-collapse: collapse;
}

.gzoom-main-decorator-div table th,
.gzoom-main-decorator-div table td {
    padding: 0.5em;
}

.gzoom-main-decorator-div td.gzoom-workEffortGauge a,
.gzoom-main-decorator-div td.gzoom-indicatorIcon a {
    display: block;
    width: 100%;
}

.gzoom-workEffortGauge {
    text-align: center;
}

.gzoom-indicatorTarget,
.gzoom-indicatorActual {
    text-align: right;
}

.gzoom-indicatorIcon {
    text-align: center;
}

.gzoom-indicatorHistoryGraph {
    text-align: right;
}
