<table>
<tr><td>URL</td><td> <input type="text" dojoAttachPoint="link_href" name="dojo_createLink_href" /></td></tr>
<tr><td>Target </td><td><select dojoAttachPoint="link_target">
	<option value="">Self</option>
	<option value="_blank">New Window</option>
	<option value="_top">Top Window</option>
	</select></td></tr>
<tr><td>Class </td><td><input type="text" dojoAttachPoint="link_class" /></td></tr>
<tr><td colspan="2">
	<table><tr>
	<td><button dojoType='Button' dojoAttachEvent='onClick:ok'>OK</button></td>
	<td><button dojoType='Button' dojoAttachEvent='onClick:cancel'>Cancel</button></td>
	</tr></table>
	</td></tr>
</table>
