.first-row-bk {
    background-color: #E6E6FA;
}
.second-row-bk {
	background-color: #E5E5E5;
}
.col-border-right {
	border-right-style: solid;
	border-right-width: thin;
}
.Bold {
	font-weight: bold;
}
.bordered-box {
	border: solid 1pt gray;
}

.cell-padding-header {
	padding-top: 4pt;
	padding-bottom: 4pt;
}
.cell-container-header {
	padding: 0pt 0pt 4pt 0pt;
}
.cell-detail-description {
	padding-bottom: 4pt;
}