/* ********************************** */
/* stili  componenti                  */
/* ********************************** */
.struttura-corpo {
	font-family: sans-serif, Verdana, Times New Roman, Helvetica;
	font-size: 14px;
}
.struttura-corpo-cella-first {
    padding: 0pt 0pt 1mm 0pt;
}
/* Prima cella della struttura, contenente i dati dinamici degli obiettivi della scheda */
.grid-corpo-principale {
	background-color: #FFFF80;
}
.cella-struttura-corpo {
	border: solid medium #FB6C12;
	padding: 1pt 3mm 1pt 3mm;
}
.cella-header-top {
    border-left: solid medium #FB6C12;
    border-right: solid medium #FB6C12;
    border-top: solid medium #FB6C12;
    padding: 1pt 3mm 0pt 3mm;
}
.cella-header-bottom {
	border-left: solid medium #FB6C12;
	border-right: solid medium #FB6C12;
	border-bottom: solid medium #FB6C12;
	padding: 0pt 3mm 1pt 3mm;
}
.cella-header-image {
	padding: 3mm 0pt 2mm 0pt;
}
.cella-title {
	padding: 3mm 0pt 0pt 0pt;
}
.title-scheda {
    border: solid thin #FB6C12;
    font-size: 26px;
    text-align: center;
    vertical-align: middle;
}
.subtitle-scheda {
	text-align: center;
	padding: 1mm 0pt 1mm 0pt;
}
.subtitle-scheda-text {
	font-size: 17px;
}
.cella-header {
	padding: 0.5mm 0pt 0.5mm 0pt;
}
.cella-header-employment-position {
	padding: 0.5mm 4mm 0.5mm 4mm;
}
.field-data-header {
    background-color: #FFFFFF;
    border: solid thin #FB6C12;
    vertical-align: top;
}
.header-legenda {
    background-color: #81fba9;
    padding: 0pt 1pt 0pt 1pt;
}
.row-pesatura {
}
.row-header-level-2 {
}
.row-detail {
}
.row-footer-level-2 {
}
.cella-table {
	padding: 2mm 0pt 0pt 0pt;
}
.cella-descrizioni-table {
	padding: 2mm 1pt 2mm 1pt;
}
.cella-descrizioni-table-totale {
    padding: 2mm 1pt 2mm 1pt;
}
.cella-descrizioni-table-right-padding {
    padding: 2mm 4mm 2mm 1pt;
}
.table-firstlevel-title {
    font-weight: bold;
}
.table-firstlevel-title-center-align {
    font-weight: bold;
    text-align: center;
}
.table-firstlevel-title-right-align {
    font-weight: bold;
    text-align: right;
}
.table-firstlevel-title-center-align-no-rating-scale {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.table-detail-name {
    font-weight: bold;
}
.table-detail {
	padding: 2mm 20mm 2mm 1pt;
}
.table-detail-second-level {
}
.table-detail-kpi {
	vertical-align: bottom;
	padding: 2mm 0pt 2mm 1pt;
}
.table-detail-kpi-no-rating-scale {
    vertical-align: bottom;
    padding: 2mm 0pt 2mm 5mm;
}
.cella-peso-no-rating-scale {
	padding: 2mm 0pt 2mm 4mm;
}
.cella-peso-no-rating-scale-bottom {
    padding: 2mm 0pt 2mm 0pt;
    vertical-align: bottom;
}
.cella-totale {
    padding: 2mm 0pt 2mm 1pt;
}
.cella-peso-top-bottom-padding {
    padding: 2mm 0pt 2mm 1pt;
}
.cella-giudizi {
	padding: 0pt 8mm 0pt 8mm;
}
.cella-label-valutazioni {
	padding: 1.5mm 0pt 0pt 0pt;
}
.section-title-valutazioni {
	font-size: 17px;
	padding: 0pt 0pt 1.2mm 0pt;
}
.field-label-valutazioni {
	font-weight: bold;
	padding: 1.5mm 0pt 1.5mm 0pt;
}
.cella-label-premi-individuali {
    padding: 0pt 0pt 0pt 0pt;
}
.field-label-premi-individuali {
    font-weight: bold;
    padding: 1pt 0pt 1mm 0pt;
}
.static-text-little-motivazione {
    font-weight: bold;
    font-size: 12px;
    padding: 1pt 0pt 1.5mm 0pt;
}
.cella-label-commenti {
	padding: 0pt 0pt 0pt 0pt;
}
.static-text-little-commenti {
    font-weight: bold;
    font-size: 12px;
    padding: 1.5mm 0pt 1.5mm 0pt;
}
.cella-data-firma-valutatore {
	padding: 2mm 0pt 2.3mm 0pt;
}
.cella-data-firma-valutato {
    padding: 2mm 0pt 7mm 0pt;
}
.cella-percento {
	vertical-align: bottom;
	padding: 0pt 0pt 2mm 0pt;
}
.total-title {
    font-weight: bold;
    text-align: right;
}
.field-data-score {
    background-color: #FFFFFF;
    border: solid thin #FB6C12;
    vertical-align: top;
}
.field-data-numeric {
    background-color: #FFFFFF;
    border: solid thin #FB6C12;
    vertical-align: top;
}
/* ********************************** */

/* Seconda cella della struttura, contentente i valori proposti della scheda */
.cella-grid-proposta {
	padding: 1mm 0mm 0mm 0mm;
}

.cella-proposta {
    background-color: #FBC487;
    border: solid medium #FB6C12;
    padding: 2mm 3mm 1mm 3mm;
}
.grid-proposta-contenuto {
	background-color: #81fba9;
}
.cella-grid-proposta-contenuto-first {
	padding-top: 0pt;
}
.cella-proposta-table {
	text-align: center;
	padding: 0pt 1pt 0pt 1pt;
}
.proposta-header {
	font-weight: bold;
	padding: 0pt 1pt 0pt 1pt;
}
.proposta-contenuto {
	border: solid thin #FB6C12;
}
.proposta-contenuto-cella-first-row-border {
	padding: 0pt 0pt 0pt 0pt;
	border-right: solid thin #FB6C12;
}
.proposta-contenuto-cella-second-row-border {
	padding: 0pt 0pt 0pt 0pt;
    border-right: solid thin #FB6C12;
    border-top: solid thin #FB6C12;
}
.proposta-contenuto-cella-first-row-last {
    padding: 0pt 0pt 0pt 0pt;
}
.proposta-contenuto-cella-second-row-top-border {
    padding: 0pt 0pt 0pt 0pt;
    border-top: solid thin #FB6C12;
}
.proposta-contenuto-cella-text {
	background-color: #85C8FB;
}
.proposta-contenuto-cella-text-value {
    background-color: #FFFFFF;
}
.proposta-contenuto-cella-text-submission {
    font-size: 9pt;
    font-weight: bold;
    padding: 1mm 0pt 1pt 0pt;
}
/* ********************************** */

.cell-no-padding {
	padding: 0pt 0pt 0pt 0pt;
}
.cell-top-bottom-padding {
	padding: 0pt 1pt 0pt 1pt;
}
.section-title {
	font-size: 17px;
}
.section-title-no-padding {
	font-size: 17px;
	padding: 0pt 0pt 0pt 0pt;
}
.field-label {
	font-weight: bold;
}
.field-data {
	background-color: #FFFFFF;
	border: solid thin #FB6C12;
	vertical-align: top;
}
.static-text-little {
	font-weight: bold;
	font-size: 12px;
}
.static-text-little-italic {
    font-size: 12px;
    font-style: italic;
}