<tr>
    <td class="label">${uiLabelMap.ExcludeExtensionDescriotion}</td>
    <td class="widget-area-style"><select name="excludeExtensionDescriotion" id="${printBirtFormId?default("ManagementPrintBirtForm")}_excludeExtensionDescriotion" size="1" class=""><option value="Y">${uiLabelMap.CommonYes}</option><option selected="selected" value="N">${uiLabelMap.CommonNo}</option></select></td>
</tr>