<tr>
   <td class="label">${uiLabelMap.FormFieldTitle_workEffortTypeIdRef}</td>
   <td class="widget-area-style"><div  class="droplist_field mandatory" id="${printBirtFormId?default("ManagementPrintBirtForm")}_workEffortTypeIdRef">
   <input  class="autocompleter_option" type="hidden" name="target" value="<@ofbizUrl>ajaxAutocompleteOptions</@ofbizUrl>"/>
   <input  class="autocompleter_parameter" type="hidden" name="entityName" value="[WorkEffortTypeTypeParentRelView]"/>
   <input  class="autocompleter_parameter" type="hidden" name="selectFields" value="[[description, workEffortTypeId]]"/>
   <input  class="autocompleter_parameter" type="hidden" name="sortByFields" value="[[parentTypeId, workEffortTypeId]]"/>
   <input  class="autocompleter_parameter" type="hidden" name="displayFields" value="[[description]]"/>
   <input  class="autocompleter_parameter" type="hidden" name="sortByFields" value="[[description]]"/>
   <input  class="autocompleter_parameter" type="hidden" name="constraintFields" value="[[[workEffortTypeIdRoot| equals| ${parameters.workEffortTypeId?if_exists}]! ]]"/>
   <input  class="autocompleter_parameter" type="hidden" name="saveView" value="N"/>
   <input  class="autocompleter_parameter" type="hidden" name="entityKeyField" value="workEffortTypeId"/>
   <input  class="autocompleter_parameter" type="hidden" name="entityDescriptionField" value="description"/>
   <div class="droplist_container"> 
   <input type="text" size="100" maxlength="255" autocomplete="off" value="" class="droplist_edit_field mandatory" name="workEffortTypeIdRef_edit_value" id="${printBirtFormId?default("ManagementPrintBirtForm")}_workEffortTypeIdRef_edit_value"/>
   <input type="hidden" class="droplist_code_field mandatory" name="workEffortTypeIdRef"/><span class="droplist-anchor"><a style="cursor: pointer;" class="droplist_submit_field fa fa-2x" href="#"></a></span></div></div></td>
</tr>