<tr>
    <td class="label">${uiLabelMap.ExcludeWeighingWorkEffort}</td>
    <td class="widget-area-style"><select name="excludeWeighingWorkEffort" id="${printBirtFormId?default("ManagementPrintBirtForm")}_excludeWeighingWorkEffort" size="1" class=""><option value="Y">${uiLabelMap.CommonYes}</option><option selected="selected" value="N">${uiLabelMap.CommonNo}</option></select></td>
</tr>