<tr>
    <td class="label">${uiLabelMap.ExcludeCollegati}</td>
    <td class="widget-area-style"><select name="excludeCollegati" id="${printBirtFormId?default("ManagementPrintBirtForm")}_excludeCollegati" size="1" class=""><option value="Y">${uiLabelMap.CommonYes}</option><option selected="selected" value="N">${uiLabelMap.CommonNo}</option></select></td>
</tr>