<tr>
    <td class="label">${uiLabelMap.ChildStruct}</td>
    <td class="widget-area-style">
        <select name="childStruct" id="${printBirtFormId?default("ManagementPrintBirtForm")}_childStruct" size="1" class="">
            <option value="Y">${uiLabelMap.CommonYes}</option>
            <option selected="selected" value="N">${uiLabelMap.CommonNo}</option>
        </select>
    </td>
</tr>