<tr>
    <td class="label">${uiLabelMap.ExposeOnlyIndex}</td>
    <td class="widget-area-style">
    <select name="exposeOnlyIndex" id="${printBirtFormId?default("ManagementPrintBirtForm")}_exposeOnlyIndex" size="1" class="">
    	<option value="Y">${uiLabelMap.CommonYes}</option>
    	<option selected="selected" value="N">${uiLabelMap.CommonNo}</option>
    </select></td>
</tr>