<tr>
    <td class="label">${uiLabelMap.TypeFormat}</td>
    <td class="widget-area-style"><select name="typeFormat" id="${printBirtFormId?default("ManagementPrintBirtForm")}_typeFormat" size="1" class=""><option value="AREA_SOTT_PROCES">${uiLabelMap.AreaSottProcesso}</option><option  value="AREA_SOTT">${uiLabelMap.AreaSott}</option></select></td>
</tr>