<tr>
    <td class="label">${uiLabelMap.PrintRischioControllaton}</td>
    <td class="widget-area-style"><select name="printRischioControllato" id="${printBirtFormId?default("ManagementPrintBirtForm")}_printRischioControllato" size="1" class=""><option value="Y">${uiLabelMap.CommonYes}</option><option selected="selected" value="N">${uiLabelMap.CommonNo}</option></select></td>
</tr>