<tr>
    <td class="label">${uiLabelMap.FormFieldTitle_workEffortTypeIdObb}</td>
    <td colspan="10">
    <div class="text-find" id="${printBirtFormId?default("ManagementPrintBirtForm")}_workEffortTypeId_Obb">
    	<input size="100" autocomplete="off" class="text-find-element" name="workEffortTypeId_Obb"  type="text">
  	</div>
  	</td>
</tr>