<tr>
    <td class="label">${uiLabelMap.ExcludePerformanceKPI}</td>
    <td class="widget-area-style"><select name="excludePerformanceKPI" id="${printBirtFormId?default("ManagementPrintBirtForm")}_excludePerformanceKPI" size="1" class=""><option value="Y">${uiLabelMap.CommonYes}</option><option selected="selected" value="N">${uiLabelMap.CommonNo}</option></select></td>
</tr>