<tr>
    <td class="label">${uiLabelMap.ExcludeGantt}</td>
    <td class="widget-area-style"><select name="excludeGantt" id="${printBirtFormId?default("ManagementPrintBirtForm")}_excludeGantt" size="1" class=""><option value="Y">${uiLabelMap.CommonYes}</option><option selected="selected" value="N">${uiLabelMap.CommonNo}</option></select></td>
</tr>