<tr>
   <td class="label-for-print-popup"></td>
   <td><input id="${printBirtFormId?default("ManagementPrintBirtForm")}_monitoringDate" type="hidden"  name="monitoringDate" value="${monitoringDate}" class="print-parameters"/></td>
  
</tr>