<#assign username = requestParameters.USERNAME?default((sessionAttributes.autoUserLogin.userLoginId)?default(""))>

<center>
<div class="screenlet login-screenlet">
  <div class="screenlet-body">
  </div>
</div>
</center>
