 SELECT AC.GL_ACCOUNT_ID AS GL_ACCOUNT_ID
 , WM.WORK_EFFORT_MEASURE_ID AS VOUCHER_REF
 , WE.WORK_EFFORT_ID AS WORK_EFFORT_ID
 <#if aggregType?if_exists == 'COUNT'>
   , COUNT(WI.TM_AMOUNT) AS AMOUNT
 <#elseif aggregType?if_exists == 'MAX'> 
   , MAX(WI.TM_AMOUNT) AS AMOUNT
 <#elseif aggregType?if_exists == 'MIN'> 
   , MIN(WI.TM_AMOUNT) AS AMOUNT
 <#elseif aggregType?if_exists == 'MEDIA'>
   , SUM(WI.TM_AMOUNT) AS SUM_AMOUNT, COUNT(WI.TM_AMOUNT) AS COUNT_AMOUNT
 <#else>
   , SUM(WI.TM_AMOUNT) AS AMOUNT
 </#if>
 FROM <@table "GL_ACCOUNT"/> AC
 INNER JOIN <@table "GL_ACCOUNT_INPUT_CALC"/> IC ON IC.GL_ACCOUNT_ID = AC.GL_ACCOUNT_ID
 INNER JOIN <@table "CUSTOM_TIME_PERIOD"/> PD ON PD.PERIOD_TYPE_ID = AC.PERIOD_TYPE_ID 
 
 <#if isAggregAnno?if_exists>
	AND PD.THRU_DATE >= <@param startYearDate jdbcType.TIMESTAMP /> AND PD.THRU_DATE <= <@param endYearDate jdbcType.TIMESTAMP /> 
<#else>
	AND PD.THRU_DATE = <@param refDate jdbcType.TIMESTAMP /> -- <LANCIO_DATA>
</#if>

 INNER JOIN <@table "WORK_EFFORT_MEASURE"/> WM ON WM.GL_ACCOUNT_ID = AC.GL_ACCOUNT_ID AND WM.FROM_DATE <= PD.THRU_DATE AND WM.THRU_DATE >= PD.FROM_DATE
 INNER JOIN <@table "WORK_EFFORT"/> WE ON WE.WORK_EFFORT_ID = WM.WORK_EFFORT_ID AND WE.WORK_EFFORT_SNAPSHOT_ID IS NULL 
 INNER JOIN <@table "WORK_EFFORT_TYPE"/> WT ON WT.WORK_EFFORT_TYPE_ID = WE.WORK_EFFORT_TYPE_ID
 INNER JOIN <@table "WORK_EFFORT_ASSOC"/> WA ON WA.WORK_EFFORT_ID_FROM = WM.WORK_EFFORT_ID
	   AND WA.WORK_EFFORT_ASSOC_TYPE_ID = WT.WORK_EFFORT_ASSOC_TYPE_ID 	   
	   	<#if isAggregAnno?if_exists>
			AND WA.FROM_DATE <= <@param endYearDate jdbcType.TIMESTAMP /> AND WA.THRU_DATE >= <@param startYearDate jdbcType.TIMESTAMP />
		<#else>
			AND WA.FROM_DATE <= <@param refDate jdbcType.TIMESTAMP /> AND WA.THRU_DATE >= <@param refDate jdbcType.TIMESTAMP />
		</#if>
	   	   
 INNER JOIN <@table "WORK_EFFORT_TRANS_ALL_VIEW"/> WI ON WI.M_WORK_EFFORT_ID = WA.WORK_EFFORT_ID_TO
       AND WI.M_GL_ACCOUNT_ID = IC.GL_ACCOUNT_ID_REF
       AND TM_GL_ACCOUNT_ID  <> 'SCOREKPI'
 
		<#if isAggregAnno?if_exists>
			AND WI.TT_TRANSACTION_DATE >= <@param startYearDate jdbcType.TIMESTAMP /> AND WI.TT_TRANSACTION_DATE <= <@param endYearDate jdbcType.TIMESTAMP /> 
		<#else>
			AND WI.TT_TRANSACTION_DATE = <@param refDate jdbcType.TIMESTAMP /> -- <LANCIO_DATA>
		</#if>

       AND WI.G_WORK_EFFORT_SNAPSHOT_ID IS NULL
       AND WI.TM_AMOUNT IS NOT NULL
 
 WHERE  AC.GL_ACCOUNT_ID = <@param glAccountId />
 
	<#if workEffortId?if_exists?has_content>
		AND WE.WORK_EFFORT_ID = <@param workEffortId /> -- <LANCIO_OBIETTIVO> (DA FOLDER CALCOLO INDICATORI)
	</#if>
AND ((IC.GL_FISCAL_TYPE_ID IS NOT NULL AND WI.TT_GL_FISCAL_TYPE_ID = IC.GL_FISCAL_TYPE_ID) OR (IC.GL_FISCAL_TYPE_ID IS NULL AND WI.TT_GL_FISCAL_TYPE_ID = <@param glFiscalTypeId />))

GROUP BY AC.GL_ACCOUNT_ID, WM.WORK_EFFORT_MEASURE_ID, WE.WORK_EFFORT_ID
