/* ********************************** */
/*            Toolbar            */
/* ********************************** */
#main-container-screenlet div.screenlet-title-bar ul li {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-left: 0.2em !important;
    margin-right: 0.2em !important;
    overflow: hidden;
    height: 16px;
    width: 22px;
    background-repeat: no-repeat;
    background-position: 5px 0px;
    border-left: none;
}
html>body #main-container-screenlet div.screenlet-title-bar ul li {
    margin-left: 0 !important; /* IE HACK */
    margin-right: 0 !important;
    width: 16px;
    color: transparent;
}
html>body #main-container-screenlet * div.screenlet-title-bar ul li{
    color: inherit;
    height: 1%;
}
#main-container-screenlet * div.screenlet-title-bar ul li{
    width: auto !important;
    background-repeat: repeat-x;
}
#main-container-screenlet div.screenlet-title-bar ul li a {
    position: relative;
    float:left;
    border: 0;
    top: 0; left: 0;
    height :17px;
    color: transparent;
    width: 17px;
    _filter:alpha(opacity=0); /* FF HACK */
}
.screenlet-title-bar ul li:hover {
    background-color: transparent;
    background-image: none;
}
/* ********************************** */

li.portlet-menu-item {
    float: right !important;
    background-repeat: no-repeat !important;
}

/* ********************************** */
/*           Toolbar generica         */
/* ********************************** */
li.home {
    background-image: url("/old_theme_gplus/icon/16/ie/folder_home.gif") !important;
}
li.home:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/folder_home.gif") !important;
}
li.home-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/home.gif") !important;
}
html>body li.home {
    background-image: url("/old_theme_gplus/icon/16/ff/folder_home.png") !important;
}
html>body li.home:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/folder_home.png") !important;
}
html>body li.home-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/folder_home.png") !important;
}

li.back {
    background-image: url("/old_theme_gplus/icon/16/ie/back.gif") !important;
}
li.back:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/back.gif") !important;
}
li.back-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/back.gif") !important;
}
html>body li.back {
    background-image: url("/old_theme_gplus/icon/16/ff/back.png") !important;
}
html>body li.back:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/back.png") !important;
}
html>body li.back-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/back.png") !important;
}

li.insertmode {
    background-image: url("/old_theme_gplus/icon/16/ie/edit.gif") !important;
}
#main-container-screenlet * div.screenlet-title-bar li.insertmode {
    background-image: url(/old_theme_gplus/icon/16/ie/edit.gif) !important ;
    width: 16px !important;
    padding: 0.1em 2px !important;
}
html>body #main-container-screenlet * div.screenlet-title-bar li.insertmode {
    background-image: url(/old_theme_gplus/icon/16/ff/edit.png) !important ;
}
li.insertmode:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/edit.gif") !important;
}
li.insertmode-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/edit.gif") !important;
}
html>body li.insertmode {
    background-image: url("/old_theme_gplus/icon/16/ff/edit.png") !important;
}
html>body li.insertmode:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/edit.png") !important;
}
html>body li.insertmode-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/edit.png") !important;
}

li.reset {
    background-image: url("/old_theme_gplus/icon/16/ie/undo.gif") !important;
}
li.reset:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/undo.gif") !important;
}
li.reset-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/undo.gif") !important;
}
html>body li.reset {
    background-image: url("/old_theme_gplus/icon/16/ff/undo.png") !important;
}
html>body li.reset:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/undo.png") !important;
}
html>body li.reset-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/undo.png") !important;
}

li.search {
    background-image: url("/old_theme_gplus/icon/16/ie/search.gif") !important;
}
li.search:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/search.gif") !important;
}
li.search-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/search.gif") !important;
}
html>body li.search {
    background-image: url("/old_theme_gplus/icon/16/ff/search.png") !important;
}
html>body li.search:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/search.png") !important;
}
html>body li.search-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/search.png") !important;
}

li.save-layout {
    background-image: url("/old_theme_gplus/icon/16/ie/save-layout.gif") !important;
}
li.save-layout:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/save-layout.gif") !important;
}
li.save-layout-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/save-layout.gif") !important;
}
html>body li.save-layout {
    background-image: url("/old_theme_gplus/icon/16/ff/save-layout.png") !important;
}
html>body li.save-layout:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/save-layout.png") !important;
}
html>body li.save-layout-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/save-layout.png") !important;
}

li.print {
    background-image: url("/old_theme_gplus/icon/16/ie/folder_print.gif") !important;
}
li.print:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/folder_print.gif") !important;
}
li.print-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/folder_print.gif") !important;
}
html>body li.print {
    background-image: url("/old_theme_gplus/icon/16/ff/folder_print.png") !important;
}
html>body li.print:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/folder_print.png") !important;
}
html>body li.print-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/folder_print.png") !important;
}

li.print-record {
    background-image: url("/old_theme_gplus/icon/16/ie/fileprint.gif") !important;
}
li.print-record:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/fileprint.gif") !important;
}
li.print-record-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/fileprint.gif") !important;
}
html>body li.print-record {
    background-image: url("/old_theme_gplus/icon/16/ff/fileprint.png") !important;
}
html>body li.print-record:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/fileprint.png") !important;
}
html>body li.print-record-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/fileprint.png") !important;
}


li.news-filter {
    background-image: url("/old_theme_gplus/icon/16/ie/undo.gif") !important;
}
li.news-filter:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/undo.gif") !important;
}
li.news-filter-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/undo.gif") !important;
}
html>body li.news-filter {
    background-image: url("/old_theme_gplus/icon/16/ff/undo.png") !important;
}
html>body li.news-filter:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/undo.png") !important;
}
html>body li.news-filter-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/undo.png") !important;
}


li.export {
    background-image: url("/old_theme_gplus/icon/16/ie/download.gif") !important;
}
li.export:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/download.gif") !important;
}
li.export-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/download.gif") !important;
}
html>body li.export {
    background-image: url("/old_theme_gplus/icon/16/ff/download.png") !important;
}
html>body li.export:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/download.png") !important;
}
html>body li.export-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/download.png") !important;
}


li.export-record {
    background-image: url("/old_theme_gplus/icon/16/ie/export.gif") !important;
}
li.export-record:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/export.gif") !important;
}
li.export-record-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/export.gif") !important;
}
html>body li.export-record {
    background-image: url("/old_theme_gplus/icon/16/ff/export.png") !important;
}
html>body li.export-record:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/export.png") !important;
}
html>body li.export-record-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/export.png") !important;
}


li.selected-element, li.portlet-selected-element {
    background-image: url("/old_theme_gplus/icon/16/ie/detail.gif") !important;
}
#main-container-screenlet * div.screenlet-title-bar li.selected-element,
#main-container-screenlet * div.screenlet-title-bar li.portlet-selected-element {
    background-image: url(/old_theme_gplus/icon/16/ie/detail.gif) !important ;
    width: 16px !important;
    padding: 0.1em 2px !important;
}
li.selected-element:hover, li.portlet-selected-element:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/detail.gif") !important;
}
li.selected-element-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/detail.gif") !important;
}
html>body #main-container-screenlet * div.screenlet-title-bar li.selected-element,
html>body #main-container-screenlet * div.screenlet-title-bar li.portlet-selected-element {
    background-image: url(/old_theme_gplus/icon/16/ff/detail.png) !important ;
}
html>body li.selected-element, html>body li.portlet-selected-element {
    background-image: url("/old_theme_gplus/icon/16/ff/detail.png") !important;
}
html>body li.selected-element:hover, html>body li.portlet-selected-element:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/detail.png") !important;
}
html>body li.selected-element-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/detail.png") !important;
}


li.selected-element-all {
    background-image: url("/old_theme_gplus/icon/16/ie/detail-all.gif") !important;
}
li.selected-element-all:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/detail-all.gif") !important;
}
li.selected-element-all-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/detail-all.gif") !important;
}
html>body li.selected-element-all {
    background-image: url("/old_theme_gplus/icon/16/ff/detail-all.png") !important;
}
html>body li.selected-element-all:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/detail-all.png") !important;
}
html>body li.selected-element-all-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/detail-all.png") !important;
}


li.copy {
    background-image: url("/old_theme_gplus/icon/16/ie/editcopy.gif") !important;
}
li.copy:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/editcopy.gif") !important;
}
li.copy-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/editcopy.gif") !important;
}
html>body li.copy {
    background-image: url("/old_theme_gplus/icon/16/ff/editcopy.png") !important;
}
html>body li.copy:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/editcopy.png") !important;
}
html>body li.copy-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/editcopy.png") !important;
}


li.copy-all {
    background-image: url("/old_theme_gplus/icon/16/ie/editcopy-all.gif") !important;
}
li.copy-all:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/editcopy-all.gif") !important;
}
li.copy-all-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/editcopy-all.gif") !important;
}
html>body li.copy-all {
    background-image: url("/old_theme_gplus/icon/16/ff/editcopy-all.png") !important;
}
html>body li.copy-all:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/editcopy-all.png") !important;
}
html>body li.copy-all-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/editcopy-all.png") !important;
}


li.delete, li.portlet-delete {
    background-image: url("/old_theme_gplus/icon/16/ie/edittrash.gif") !important;
}
#main-container-screenlet * div.screenlet-title-bar li.delete,
#main-container-screenlet * div.screenlet-title-bar li.portlet-delete {
    background-image: url(/old_theme_gplus/icon/16/ie/edittrash.gif) !important ;
    width: 20px !important;
    padding: 0.1em 0 !important;
}
li.delete:hover, li.portlet-delete:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/edittrash.gif") !important;
}
li.delete-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/edittrash.gif") !important;
}
html>body #main-container-screenlet * div.screenlet-title-bar li.delete,
html>body #main-container-screenlet * div.screenlet-title-bar li.portlet-delete {
    background-image: url(/old_theme_gplus/icon/16/ff/edittrash.png) !important ;
}
html>body li.delete, html>body li.portlet-delete {
    background-image: url("/old_theme_gplus/icon/16/ff/edittrash.png") !important;
}
html>body li.delete:hover, html>body li.portlet-delete:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/edittrash.png") !important;
}
html>body li.delete-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/edittrash.png") !important;
}


li.delete-all {
    background-image: url("/old_theme_gplus/icon/16/ie/edittrash-all.gif") !important;
}
li.delete-all:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/edittrash-all.gif") !important;
}
li.delete-all-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/edittrash-all.gif") !important;
}
html>body li.delete-all {
    background-image: url("/old_theme_gplus/icon/16/ff/edittrash-all.png") !important;
}
html>body li.delete-all:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/edittrash-all.png") !important;
}
html>body li.delete-all-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/edittrash-all.png") !important;
}


li.save {
    background-image: url("/old_theme_gplus/icon/16/ie/filesave.gif") !important;
}
li.save:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/filesave.gif") !important;
}
li.save-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/filesave.gif") !important;
}
html>body li.save {
    background-image: url("/old_theme_gplus/icon/16/ff/filesave.png") !important;
}
html>body li.save:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/filesave.png") !important;
}
html>body li.save-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/filesave.png") !important;
}


li.save-insert {
    background-image: url("/old_theme_gplus/icon/16/ie/filesaveas.gif") !important;
}
li.save-insert:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/filesaveas.gif") !important;
}
li.save-insert-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/filesaveas.gif") !important;
}
html>body li.save-insert {
    background-image: url("/old_theme_gplus/icon/16/ff/filesaveas.png") !important;
}
html>body li.save-insert:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/filesaveas.png") !important;
}
html>body li.save-insert-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/filesaveas.png") !important;
}


li.toggle-panel {
    background-image: url("/old_theme_gplus/icon/16/ie/window_list.gif") !important;
}
li.toggle-panel:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/window_list.gif") !important;
}
li.toggle-panel-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/window_list.gif") !important;
}
html>body li.toggle-panel {
    background-image: url("/old_theme_gplus/icon/16/ff/window_list.png") !important;
}
html>body li.toggle-panel:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/window_list.png") !important;
}
html>body li.toggle-panel-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/window_list.png") !important;
}


li.array-list {
    background-image: url("/old_theme_gplus/icon/16/ie/view_text.gif") !important;
}
li.array-list:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/view_text.gif") !important;
}
li.array-list-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/view_text.gif") !important;
}
html>body li.array-list {
    background-image: url("/old_theme_gplus/icon/16/ff/view_text.png") !important;
}
html>body li.array-list:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/view_text.png") !important;
}
html>body li.array-list-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/view_text.png") !important;
}

li.attachment {
    background-image: url("/old_theme_gplus/icon/16/ie/attach.gif") !important;
}
li.attachment:hover {
    background-image: url("/old_theme_gplus/icon/16/ie/attach.gif") !important;
}
li.attachment-disabled {
    background-image: url("/old_theme_gplus/icon/16/ie/attach.gif") !important;
}
html>body li.attachment {
    background-image: url("/old_theme_gplus/icon/16/ff/attach.png") !important;
}
html>body li.attachment:hover {
    background-image: url("/old_theme_gplus/icon/16/ff/attach.png") !important;
}
html>body li.attachment-disabled {
    background-image: url("/old_theme_gplus/icon/16/ff/attach.png") !important;
}

/* ********************************** */