div.screenlet, table input, select, textarea {
    border-color: #860000;
}
input[type="text"], input[type="password"] {
    border-color: #860000;
}

.nav-pager {
    border:0.1em solid #860000;
}

#common-container {
    border-left: 0.1em solid #860000;
    border-right: 0.1em solid #860000;
    border-bottom: 0.1em solid #860000;
}

/* ********************************** */
/*        Prima riga di testata       */
/* ********************************** */
#first-header-row {
    background: #c00000 url('/old_theme_gplus/images/red/breadcrumbs-red-bg.png') repeat-y;
    border: 0.1em solid #860000;
}
/* ********************************** */

#main-container-screenlet div.screenlet-title-bar { /* IE FIX Per simulare il selettore first:child */
    border-bottom:0.1em solid #860000;
}
#main-container-screenlet * div.screenlet-title-bar {
    border-bottom: none;
}

.basic-table .header-row-2 th,
.basic-table .header-row-2 td  {
    background-color: #860000;
}

.basic-table .alternate-row {
    background-color: #f4e9e9 !important;
}

.list-table, .basic-form .list-table {
    background-color: #e8d0d0;
}

.tabs ul li {
    background:transparent url(/old_theme_gplus/images/red/tab-left-red-bg.png) no-repeat scroll left top;
}
.tabs ul li a {
    background:transparent url(/old_theme_gplus/images/red/tab-right-red-bg.png) no-repeat scroll right top;
}
.tabs ul li.active {
    background:transparent url(/old_theme_gplus/images/red/tab-selected-left-red-bg.png) no-repeat scroll left top;
}
.tabs ul li.active a {
    background:transparent url(/old_theme_gplus/images/red/tab-selected-right-red-bg.png) no-repeat scroll right top;
}

.wizard-header {
    background: #c00000 url('/old_theme_gplus/images/red/breadcrumbs-red-bg.png') repeat-y;
    border: 0.1em solid #860000;
}
.multi-editable tr td {
    border-left: 0.1em solid #860000 !important;
    border-bottom: 0.1em solid #860000 !important;
}
/* ********************************** */
/*       Fake Field Group             */
/* ********************************** */
.basic-form table tr .field-group-title {
    border-color: #de9600;
}
/* ********************************** */
/*        Panel (Portlet)             */
/* ********************************** */

#management-form-screenlet div.child-management div.screenlet-title-bar,
#management-form-screenlet div.parent-management-container-title div.screenlet-title-bar,
#management-form-screenlet div.child-management-container-title div.screenlet-title-bar  {
    background: #c00000 url('/old_theme_gplus/images/red/breadcrumbs-red-bg.png') repeat-y;
}

.basic-form td span.widget-style {
    border: 0.1em solid #860000;
}
/*************************************/
/*       Lookup                      */
/*************************************/
input.lookup_field_description {
    border-color: #860000;
}

/*************************************/
/*       Campo di Testata            */
/*************************************/
.cella {
    border-color: #860000;
}

/* ********************************** */
/*	Portlet style				      */
/* ********************************** */
.portlet, parent-management-screenlet-title {
    border-color: #860000;
}