
<#--<form name="printPage">
<input type="button" value="${uiLabelMap.CommonPrint}" onClick="window.print()" class="smallSubmit"/>
</form>
<br>    -->
<div class="h1">
	<#--<label style="h1">${uiLabelMap.PageTitleHelp}</label>-->
	<label style="h3">${helpText}</label>
</div>
<#-- <a href="#" class="smallSubmit button-close" onclick="modal_box_messages.buttonCancel()">${uiLabelMap.BaseButtonClose}</a> -->