
.gzoom-main-decorator-div .message-panel {
    font-family: Verdana,Helvetica,Arial,sans-serif;
    font-size: 11pt;
    text-align: center;
    /*
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    */
}

.gzoom-main-decorator-div .message-panel img {
	vertical-align: middle;
	margin-right: 1em;
}

.gzoom-main-decorator-div table thead {
    background-color: #f0f0f0;
}

.gzoom-main-decorator-div table,
.gzoom-main-decorator-div table th,
.gzoom-main-decorator-div table td {
    border-color: #c0c0c0;
    border-width: 1px;
    border-style: solid;
    border-spacing: 0px;
    border-collapse: collapse;
}

.gzoom-main-decorator-div table th,
.gzoom-main-decorator-div table td {
    padding: 0.5em;
}
