body {
	margin: 0 0.5em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
}

/*ol, ul {
	margin: 0.2em 0.4em;
}
ul {
	list-style: disc inside;
}
ol {
	list-style: decimal inside;
}
li {
	margin: 0;
}
strong {
	font-weight: bold;
}*/