
<div id="menubar" style="background-color: #ccc;">
    <a href="<@ofbizUrl>/main</@ofbizUrl>" class="headerlink">${uiLabelMap.CommonHome}</a>
    <a href="#" class="headerlink">${uiLabelMap.CommonNew}</a>
    <a href="#" class="headerlink">Recommended</a>
    <a href="#" class="headerlink">Highest Rated</a>
    <a href="#" class="headerlink">Upload Pitch</a>
    <a href="/webtools/control/main" class="headerlink">${uiLabelMap.WebTools}</a>
</div>
