div.waitingTrasp {
	cursor: progress;
	opacity: 0;
	position: fixed; /* for scroll page */
	z-index: 999999; /* for lookup Ajax.Request*/
	
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	display: inline;
}

div.waiting {
	cursor: progress;
	opacity: 0.8;
	position: absolute; /* for scroll page */
}

.waiting {
	background-image:url('img/waiting.gif');
	background-repeat:no-repeat;
	background-position:center center;
	background-color:white;
}

.bigWaiting {
	background-image:url('img/bigWaiting.gif');
	background-repeat:no-repeat;
	background-position:center 20%;
	background-color:white;
}

.blackWaiting {
	background-image:url('img/blackWaiting.gif');
	background-repeat:no-repeat;
	background-position:center center;
	background-color:black;
}

.bigBlackWaiting {
	background-image:url('img/bigBlackWaiting.gif');
	background-repeat:no-repeat;
	background-position:center center;
	background-color:black;
}