/* ********************************** */
/*            Toolbar            */
/* ********************************** */
#main-container-screenlet div.screenlet-title-bar ul li,
div.transactionPortlet div.screenlet-title-bar ul li {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-left: 0.2em !important;
    margin-right: 0.2em !important;
    overflow: hidden;
    height: 25px;
    width: 22px;
    background-repeat: no-repeat;
    /*background-position: 5px -26px;*/
    background-position: 5px 0px;
    border-left: none;
}
/*#main-container-screenlet div.screenlet-title-bar ul li.disabled,
#main-container-screenlet div.screenlet-title-bar ul li.disabled:hover {
    background-position: 5px -1px;
}
#main-container-screenlet div.screenlet-title-bar ul li:hover {
    background-position: 5px -3px;
}*/
html>body #main-container-screenlet div.screenlet-title-bar ul li,
html>body div.transactionPortlet div.screenlet-title-bar ul li {
    margin-left: 0 !important; /* IE HACK */
    margin-right: 0 !important;
    width: 18px;
}

html>body #main-container-screenlet * div.screenlet-title-bar ul li,
html>body div.transactionPortlet * div.screenlet-title-bar ul li {
    color: inherit;
    height: 1%;
}

#main-container-screenlet * div.screenlet-title-bar ul li,
div.transactionPortlet * div.screenlet-title-bar ul li {
    width: auto !important;
    background-repeat: repeat-x;
    /*background-position: 5px -16px;*/
}
#main-container-screenlet * div.screenlet-title-bar ul li.disabled{
    background-repeat: repeat-x;
    width: 16px !important;
    height: 16px !important;
}
/*#main-container-screenlet * div.screenlet-title-bar ul li:hover {
    background-position: 5px -32px;
}*/
#main-container-screenlet div.screenlet-title-bar ul li a,
div.transactionPortlet div.screenlet-title-bar ul li a {
    _filter:alpha(opacity=0); /* FF HACK */
}
#main-container-screenlet * div.screenlet-title-bar ul li a,
div.transactionPortlet * div.screenlet-title-bar ul li a {
    height :16px;
    width: 16px;
}
.screenlet-title-bar ul li:hover {
    background-color: transparent;
    background-image: none;
}
/* ********************************** */

li.portlet-menu-item {
    float: right !important;
    background-repeat: no-repeat !important;
}

/* ********************************** */
/*           Toolbar generica         */
/* ********************************** */	
li.home {
    background-image: url("/theme_gplus/icon/24/ie/folder_home.gif") !important;
}
li.home:hover {
    background-image: url("/theme_gplus/icon/24/ie/folder_home.gif") !important;
}
li.home-disabled {
    background-image: url("/theme_gplus/icon/24/ie/home.gif") !important;
}
html>body li.home {
    background-image: url("/theme_gplus/icon/24/ff/normal/folder_home.png") !important;
}
html>body li.home:hover {
    background-image: url("/theme_gplus/icon/24/ff/hot/folder_home.png") !important;
}
html>body li.home-disabled {
    background-image: url("/theme_gplus/icon/24/ff/disabled/folder_home.png") !important;
}

/* sandro - aggiunta azione openclose menu */
li.open a:before {
    content: "\f191";
}
li.open-disabled:before {
    content: "\f191";
}
li.open-disabled {
    color: #CCCCCC;
}

li.close a:before {
    content: "\f152";
}
li.close-disabled:before {
    content: "\f152";
}
li.close-disabled {
    color: #CCCCCC;
}

li.back a:before { 
    content: "\f060";
}
li.back-disabled:before {
    content: "\f060";
}
li.back-disabled {
    color: #CCCCCC;
}

li.insertmode a:before {
    content: "\f067";
}
li.insertmode-disabled:before {
    content: "\f067";
}
li.insertmode-disabled {
    color: #CCCCCC;
}

li.reset a:before {
    content: "\f2ea";
}
li.reset-disabled:before {
    content: "\f2ea";
}
li.reset-disabled {
    color: #CCCCCC;
}

li.search a:before {
    content: "\f002";
}
li.search-disabled:before {
    content: "\f002";
}
li.search-disabled:before {
    color: #CCCCCC;
}

li.print-birt a {
	text-decoration: none !important;
	color: #808080;
}
li.print-birt a:hover {
	color: #FFF;
}
li.print-birt a:before {
    content: "\f02f";
}

li.print-birt-portal a {
	text-decoration: none !important;
	color: #808080;
}
li.print-birt-portal a:hover {
	color: #FFF;
}
li.print-birt-portal a:before {
    content: "\f02f";
    font-size: 16px;
}

li.print a:before {
    content: "\f02f";
}
li.print-disabled:before, li.print-birt-disabled:before {
    content: "\f02f";
}
li.print-disabled:before, li.print-birt-disabled:before {
    color: #CCCCCC;
}

li.export a:before, li.export-search a:before, li.export-birt a:before {
    content: "\f35d";
}
li.export-disabled:before, li.export-search-disabled:before, li.export-birt-disabled:before {
    content: "\f35d";
}
li.export-disabled, li.export-search-disabled, li.export-birt-disabled {
    color: #CCCCCC;
}

li.send-mail a:before {
    content: "\f0e0";
}
li.send-mail-disabled:before {
    content: "\f0e0";
}
li.send-mail-disabled {
    color: #CCCCCC;
}

li.import-std a:before {
    content: "\f04b";
}
li.import-std-disabled:before {
    content: "\f04b";
}
li.import-std-disabled {
    color: #CCCCCC;
}

.execute a {
    text-decoration: none;
    color: #808080 !important;
}
.execute a:hover {
    color: #FFF !important;
}
.execute a:before {
    content: "\f04b";
    font-size: 16px;
    text-decoration: none;
}

li.execute a:before {
    content: "\f04b";
}
li.execute-disabled:before {
    content: "\f04b";
}
li.execute-disabled {
    color: #CCCCCC;
}

li.execute-no-registermenu a:before {
    content: "\f04b";
}

li.duplicate-execute a:before {
    content: "\f0c5" !important;
}
li.duplicate-disabled:before {
    content: "\f0c5";
}
li.duplicate-disabled:before {
    color: #CCCCCC;
}

li.selected-element a:before {
    content: "\f3be";
}
li.selected-element-disabled:before {
    content: "\f3be";
}
li.selected-element-disabled {
    color: #CCCCCC;
}

li.delete a:before, li.portlet-delete a:before {
    content: "\f2ed";
}
li.delete-disabled:before, li.portlet-delete-disabled:before {
    content: "\f2ed";
}
li.delete-disabled, li.portlet-delete-disabled {
    color: #CCCCCC;
}

li.save a:before {
    content: "\f00c";
}
li.save-disabled:before {
    content: "\f00c";
}
li.save-disabled {
    color: #CCCCCC;
}

li.array-list a:before {
    content: "\f3bf";
}
li.array-list-disabled:before {
    content: "\f3bf";
}
li.array-list-disabled {
    color: #CCCCCC;
}

li.attachment a:before {
    content: "\f0c6";
}
li.attachment-disabled:before {
    content: "\f0c6";
}
li.attachment-disabled {
    color: #CCCCCC;
}
/* ********************************** */