div.screenlet, table input, select, textarea {
    border-color: #403152;
}
input[type="text"], input[type="password"] {
    border-color: #403152;
}

.nav-pager {
    border:0.1em solid #403152;
}

#common-container {
    border-left: 0.1em solid #403152;
    border-right: 0.1em solid #403152;
    border-bottom: 0.1em solid #403152;
}

/* ********************************** */
/*        Prima riga di testata       */
/* ********************************** */
#first-header-row {
    background: #9982b4 url('/theme_gplus/images/violet/breadcrumbs-violet-bg.png') repeat-y;
    border: 0.1em solid #403152;
}
/* ********************************** */

#main-container-screenlet div.screenlet-title-bar { /* IE FIX Per simulare il selettore first:child */
    border-bottom:0.1em solid #403152;
}
#main-container-screenlet * div.screenlet-title-bar {
    border-bottom: none;
}

.basic-table .header-row-2 th,
.basic-table .header-row-2 td  {
    background-color: #8163A5;
}
.portlet .basic-table .header-row-2 th,
.portlet .basic-table .header-row-2 td  {
    background-color: #987FD8;
}

.basic-table .alternate-row {
    background-color: #EDEAF0 !important;
}

.list-table, .basic-form .list-table {
    background-color: #D8D3E0;
}

.tabs ul li {
    background:transparent url(/theme_gplus/images/violet/tab-left-violet-bg.png) no-repeat scroll left top;
}
.tabs ul li a {
    background-color:#9982b4;
    border-right: #403152 solid thin;
    border-top: #403152 solid thin;
    border-bottom: #403152 solid thin;
}
.tabs ul li:hover a {
    background-color:#7d6799;
}
.tabs ul li.active {
    background:transparent url(/theme_gplus/images/violet/tab-selected-left-violet-bg.png) no-repeat scroll left top;
}

.wizard-header {
    background: #9982b4 url('/theme_gplus/images/violet/breadcrumbs-violet-bg.png') repeat-y;
    border: 0.1em solid #403152;
}
.multi-editable tr td {
    border-left: 0.1em solid #8163A5 !important;
    border-bottom: 0.1em solid #8163A5 !important;
}
/* ********************************** */
/*       Fake Field Group             */
/* ********************************** */
.basic-form table tr .field-group-title {
    /*border-color: #9982b4;*/
    background-color: #8163A5;
}
/* ********************************** */
/*        Panel (Portlet)             */
/* ********************************** */

#management-form-screenlet div.child-management div.screenlet-title-bar,
#main-container-screenlet div.child-management div.screenlet-title-bar,
#management-form-screenlet div.parent-management-container-title div.screenlet-title-bar,
#management-form-screenlet div.child-management-container-title div.screenlet-title-bar,
.screenlet-lookup div.screenlet-title-bar,
.login-screenlet .screenlet-title-bar,
.communication-container .screenlet-title-bar,
div.transactionPortlet .screenlet-title-bar   {
    background: #9982b4 url('/theme_gplus/images/violet/breadcrumbs-violet-bg.png') repeat-y;
}

/*#main-container-screenlet div.child-management div.screenlet-title-bar {
    background-image: url('/theme_gplus/images/violet/breadcrumbs-violet-bg.png');
}*/

.basic-form td span.widget-style {
    border: 0.1em solid #403152;
}

/*************************************/
/*       Lookup                      */
/*************************************/
input[type=text].lookup_field_description {
    border-color: #403152;
}
input[type=hidden].lookup_field_description {
    border: none;
}

/*************************************/
/*       Campo di Testata            */
/*************************************/
.cella {
    border-color: #403152;
}

/* ********************************** */
/*	Portlet style				      */
/* ********************************** */
.portlet, parent-management-screenlet-title {
    border-color: #403152;
}

form a.image_anchor {
    border-color: #403152;
}

/* ********************************** */
/*	Treeview style				      */
/* ********************************** */
.treeview-outer-table, div.treeview-container-tree {
    border-color: #403152  !important;
}

/* ********************************** */
/*	TreeMenu style				      */
/* ********************************** */
.treemenu-body-slidearea-preferred,  .treemenu-body-slidearea-history {
    background-color: #604A7B;
    border-color: #403152 !important;
}

/* item cliccabili in preferred & history*/
.treemenu-item-facility {
    color: #ffffff;
}
.treemenu-item-facility:hover {
    color: #bbbbbb;
}

.treemenu-head {
    border-color: #403152 !important;
}

.treemenu-body-links {
    border-color: #403152 !important;
}

div.resAnalysisWidgetBorder {
	border-color: #9982b4
}

b.rtop b, b.rbottom b {
	background: #9982b4
}