div.screenlet, table input, select, textarea {
    border-color: #506428;
}
input[type="text"], input[type="password"] {
    border-color: #506428;
}

.nav-pager {
    border:0.1em solid #506428;
}

#common-container {
    border-left: 0.1em solid #506428;
    border-right: 0.1em solid #506428;
    border-bottom: 0.1em solid #506428;
}

/* ********************************** */
/*        Prima riga di testata       */
/* ********************************** */
#first-header-row {
    background: #a0be5a url('/theme_gplus/images/green/breadcrumbs-green-bg.png') repeat-y;
    border: 0.1em solid #506428;
}
/* ********************************** */

#main-container-screenlet div.screenlet-title-bar { /* IE FIX Per simulare il selettore first:child */
    border-bottom:0.1em solid #506428;
}
#main-container-screenlet * div.screenlet-title-bar {
    border-bottom: none;
}

.basic-table .header-row-2 th,
.basic-table .header-row-2 td  {
    background-color: #6E823C;
}
.portlet .basic-table .header-row-2 th,
.portlet .basic-table .header-row-2 td  {
    background-color: #A0A22E;
}

.basic-table .alternate-row {
    background-color: #EFF3EA !important;
}

.list-table, .basic-form .list-table {
    background-color: #DEE7D1;
}

.tabs ul li {
    background:transparent url(/theme_gplus/images/green/tab-left-green-bg.png) no-repeat scroll left top;
}
.tabs ul li a {
    background-color:#a0be5a;
    border-right: #506428 solid thin;
    border-top: #506428 solid thin;
    border-bottom: #506428 solid thin;
}
.tabs ul li:hover a {
    background-color:#85a159;
}
.tabs ul li.active {
    background:transparent url(/theme_gplus/images/green/tab-selected-left-green-bg.png) no-repeat scroll left top;
}

.wizard-header {
    background: #a0be5a url('/theme_gplus/images/green/breadcrumbs-green-bg.png') repeat-y;
    border: 0.1em solid #506428;
}
.multi-editable tr td {
    border-left: 0.1em solid #6E823C !important;
    border-bottom: 0.1em solid #6E823C !important;
}
/* ********************************** */
/*       Fake Field Group             */
/* ********************************** */
.basic-form table tr td.field-group-title {
    background-color: #6E823C;
}
/* ********************************** */
/*        Panel (Portlet)             */
/* ********************************** */

#management-form-screenlet div.child-management div.screenlet-title-bar,
#main-container-screenlet div.child-management div.screenlet-title-bar,
#management-form-screenlet div.parent-management-container-title div.screenlet-title-bar,
#management-form-screenlet div.child-management-container-title div.screenlet-title-bar,
.screenlet-lookup div.screenlet-title-bar,
.login-screenlet .screenlet-title-bar,
.communication-container .screenlet-title-bar,
div.transactionPortlet .screenlet-title-bar  {
    background: #a0be5a url('/theme_gplus/images/green/breadcrumbs-green-bg.png') repeat-y;
}

/*#main-container-screenlet div.child-management div.screenlet-title-bar {
    background-image: url('/theme_gplus/images/green/breadcrumbs-green-bg.png');
}*/

.basic-form td span.widget-style {
    border: 0.1em solid #506428;
}
/*************************************/
/*       Lookup                      */
/*************************************/
/*
input.lookup_field_description {
    border-color: #506428;
}
*/
input[type=text].lookup_field_description {
    border-color: #506428;
}
input[type=hidden].lookup_field_description {
    border: none;
}
/*************************************/
/*       Campo di Testata            */
/*************************************/
.cella {
    border-color: #506428;
}

/* ********************************** */
/*	Portlet style				      */
/* ********************************** */
.portlet, parent-management-screenlet-title {
    border-color: #506428;
}

form a.image_anchor {
    border-color: #506428;
}

/* ********************************** */
/*	Treeview style				      */
/* ********************************** */
.treeview-outer-table, div.treeview-container-tree {
    border-color: #506428 !important;
}

div.treeview-detail-screen {
    border-left-color: #506428 !important;
}

/* ********************************** */
/*	TreeMenu style				      */
/* ********************************** */
.treemenu-body-slidearea-preferred,  .treemenu-body-slidearea-history {
    background-color: #6E823C;
    border-color: #506428 !important;
}

/* item cliccabili in preferred & history*/
.treemenu-item-facility {
    color: #ffffff;
}
.treemenu-item-facility:hover {
    color: #bbbbbb;
}

.treemenu-head {
    border-color: #506428 !important;
}

.treemenu-body-links {
    border-color: #506428 !important;
}

div.resAnalysisWidgetBorder {
	border-color: #a0be5a
}

b.rtop b, b.rbottom b {
	background: #a0be5a
}
