body, textarea, input, select {
    font-family: Trebuchet MS;
    font-size: 12px !important;
    color: #000000;
}

select {
    background-color: #FFFFFF;
    border: 0.1em solid #999999;
    font-size: 1.1em;
    height: 1.7em;
    margin: 0.1em;
}


a, a:visited {
    color: #0b8800;
    font-weight: bold;
}

/* treemenu */
.treemenu-head,
.mainmenu-function-table,
.treemenu-function-toolbar,
.treemenu-search-toolbar,
.treemenu-module-table {
    background-color: #C2DDC0 !important;
    
    /*background-color: transparent !important;*/
}

table.treeTable tr.selected, .treeTable tr.accept {
    text-decoration: underline;
    color: #000000;
    background-color: #ECF5EC;
}

table.treeTable tr.collapsed.selected td .expander, .treeTable tr.collapsed.accept td .expander {
  background-image: url("/theme_gplus/icon/treeview/expand-dark.png");
}

.treeTable tr.expanded.selected td .expander, .treeTable tr.expanded.accept td .expander {
  background-image: url(/theme_gplus/icon/treeview/collapse-dark.png);
}

/* masthead */
#masthead {
    background-color: #B6C5B5;
    color: #000000;
    font-weight: bold;
    height: 1%;
}

#masthead .application-title {
    color: #7F7F7F;
}

#masthead .bottom-link p {
    color: #000000;
    vertical-align: bottom;
}

#breadcrumbs p {
    color: #000000;
    display: inline;
    font-size: 1.1em;
    font-weight: bold;
}


/* content */
DIV.screenlet-body {
    background-color: #ECF5EC;
    height: auto !important;
    padding: 0.4em;
}

#main-container {
    background-color: #ECF5EC;
    overflow: auto;
    position: relative;
}

DIV.contentarea {
    background-color: #ECF5EC;
    border: 0.1em solid #000000;
    margin: 1em;
}

DIV.screenlet {
    background-color: #ECF5EC;
    border: 0.1em solid #999999;
    height: auto !important;
    margin-bottom: 1em;
}

/*toolbar and title */
#main-container-screenlet div.screenlet-title-bar {
    background-color: #C2DDC0;
    background-image: none;
    padding-bottom: 0.6em;
    padding-right: 0.6em;
    padding-top: 0.6em;
}

.basic-form table .viewManyTR1, .basic-form table .alternate-row {
    background-color: #EEEEEE;
}

form a.image_anchor {
    border: 1px solid;
    display: block;
    padding: 1em;
    width: 18px;
}

.basic-table .header-row-2 th, .basic-table .header-row-2 td {
    border-bottom: 0.1em solid #CCCCCC;
    border-left: 0.1em solid #CCCCCC;
    font-weight: bold;
    padding: 0.4em;
    text-align: center;
}

.basic-table .header-row-2 th, .basic-table .header-row-2 th a, .basic-table .header-row-2 td {
    color: #000000;
}


/*html > body .hover-bar tr.selected-row {
   background-color: #CCCCCC;
}*/

html > body .hover-bar tr.selected-row td:not(a), html > body .hover-bar tr.selected-row input {
    /*background-color: #E6E4E0 !important;*/
	/*color: red !important;*/
    text-decoration: underline;
    
}

html > body .hover-bar tr.selected-row td a, a:visited{
	/*color: #0b8800;*/
	text-decoration: none;
}

/*html > body .hover-bar tr.selected-row a, html > body .hover-bar tr.selected-row a {
	text-decoration: none !important;
}*/

/*
 *  stile della prima riga delle tabelle, mettere il colore di background appena ci sono
 * le specifiche
 */
/*html > body .hover-bar tr.selected-row td {
    background-color: red;   
}*/


.multi-editable tr td {
    border-bottom: 0.1em solid #cccccc !important;
    border-left: 0.1em solid #cccccc !important;
}

form.cachable .basic-table tr td.selected-cell-input {
    border: 0.1em solid #CCCCCC !important;
}


form a.image_anchor {
    border-color: #CCCCCC;
}

div.screenlet, table input, select, textarea {
    border-color: #CCCCCC;
}

div.screenlet, table input, select, textarea {
    border-color: #cccccc;
}
input[type="text"], input[type="password"] {
    border-color: #cccccc;
    height: 1.2em;
}

.nav-pager {
    border:0.1em solid #cccccc;
}

#common-container {
    border-left: 0.1em solid #cccccc;
    border-right: 0.1em solid #cccccc;
    border-bottom: 0.1em solid #cccccc;
}

#main-container-screenlet div.screenlet-title-bar { /* IE FIX Per simulare il selettore first:child */
    border-bottom:0.1em solid #cccccc;
}
#main-container-screenlet * div.screenlet-title-bar {
    border-bottom: none;
}

/* table row */

.list-table, .basic-form .list-table {
    background-color: #ECF5EC !important;
}

.basic-table{
    background-color: #c2ddc0;
}

.basic-table .header-row-2 th,
.basic-table .header-row-2 td  {
    background-color: #c2ddc0 !important;
}

.basic-table .alternate-row {
    background-color: #dee7d1 !important;
}


.basic-form table .alternate-row {
    background-color: #dee7d1 !important;
}


.wizard-header {
    background: none repeat scroll 0 0 transparent;
    background: #a0be5a url('/theme_gplus/images/greenacc/breadcrumbs-green-bg.png') repeat-y;
    border: 0.1em solid #cccccc;
}

/* ********************************** */
/*       Fake Field Group             */
/* ********************************** */
.basic-form table tr .field-group-title {
    /*border-color: #de9600;*/
    background-color: #6E823C;
}
/* ********************************** */
/*        Panel (Portlet)             */
/* ********************************** */

/* ********************************** */
/*        Prima riga di testata       */
/* ********************************** */
/*#first-header-row {
    color: #000000;
    background-color: #C2DDC0;
    background: none repeat scroll 0 0 transparent;
    background: #dc4400 url('/theme_gplus/images/greenacc/breadcrumbs-green-bg.png') repeat-y;
    border: 0.1em solid #cccccc;
}*/

#first-header-row {
    background: #a0be5a url('/theme_gplus/images/greenacc/breadcrumbs-green-bg.png') repeat-y;
    border: 0.1em solid #cccccc;
}
/* ********************************** */

#management-form-screenlet div.child-management div.screenlet-title-bar,
#main-container-screenlet div.child-management div.screenlet-title-bar,
#management-form-screenlet div.parent-management-container-title div.screenlet-title-bar,
#management-form-screenlet div.child-management-container-title div.screenlet-title-bar,
.screenlet-lookup div.screenlet-title-bar,
.login-screenlet .screenlet-title-bar,
.communication-container .screenlet-title-bar,
div.transactionPortlet .screenlet-title-bar   {
    background-color: #C2DDC0;
    background: none repeat scroll 0 0 transparent;
    background: #a0be5a url('/theme_gplus/images/greenacc/breadcrumbs-green-bg.png') repeat-y;
}

/*#main-container-screenlet div.child-management div.screenlet-title-bar {
    background-image: url('/theme_gplus/images/red/breadcrumbs-red-bg.png');
}*/

.basic-form td span.widget-style {
    border: 0.1em solid #cccccc;
}
/*************************************/
/*       Lookup                      */
/*************************************/
/*
input.lookup_field_description {
    border-color: #cccccc;
}
*/
input[type=text].lookup_field_description {
    border-color: #cccccc;
}
input[type=hidden].lookup_field_description {
    border: none;
}
/*************************************/
/*       Campo di Testata            */
/*************************************/
.cella {
    border-color: #cccccc;
}

/* ********************************** */
/*	Portlet style				      */
/* ********************************** */
.portlet, parent-management-screenlet-title {
    border-color: #cccccc;
}

form a.image_anchor {
    border-color: #cccccc;
}

/* ********************************** */
/*	Treeview style				      */
/* ********************************** */
.treeview-outer-table, div.treeview-container-tree {
    border-color: #cccccc !important;
}

/* ********************************** */
/*	TreeMenu style				      */
/* ********************************** */
.treemenu-body-slidearea-preferred,  .treemenu-body-slidearea-history {
    background-color: #6E823C;
    border-color: #506428 !important;
}

.treemenu-item-facility-delete {
    color: green !important;
}

/* item cliccabili in preferred & history*/
.treemenu-item-facility {
    color: #ffffff;
}
.treemenu-item-facility:hover {
    color: #bbbbbb;
}

.treemenu-head {
    border-color: #cccccc !important;
}

.treemenu-body-links {
    /*border-color: #cccccc !important;*/   
    border: none !important;
}

div.resAnalysisWidgetBorder {
	border-color: #dc4400
}

b.rtop b, b.rbottom b {
	background: #dc4400
}




/* performance strategica-scheda valutazione strategia-calendario: togliere linea verde*/
div#MB_window div#MB_frame div#MB_content div#main-container-screenlet div.screenlet-body 
 div#main-container div#management-form-screenlet  div.screenlet-title-bar {
     display: none;
 }
 
 
 
div.treeview-header-toolbar-hide {
    background-image: url("/theme_gplus/icon/treeview/collapse-dark-2-green.png") !important;
    /*background-image: url("/theme_gplus/icon/treeview/expand-dark.png") !important;*/
    
    background-repeat: no-repeat !important;
}


/*.basic-table thead tr.header-row-2 th:hover {
    background-color: #4f80bc;
    color: #ffffff;
}*/

.hover-bar .header-row-2:hover,
.hover-bar tr.header-row-2:hover,
.hover-bar tr.header-row-2 th:hover {
    /*background-color: #6E823C !important;*/
    color: #000000 !important;	
}





/* tab */


.tabs ul li {
    background:transparent url(/theme_gplus/images/greenacc/tab-selected-left-green-bg.png) no-repeat scroll left top;
}
.tabs ul li a {
    background-color: #FFF !important;
    border-bottom: thin solid #C2DDC0;
    border-right: thin solid #506428;
    /*border-top: thin solid #FFFFFF;*/
    border-top: 1px solid #506428;
    
    color: #000;
    height: 11px !important;    
}
.tabs ul li:hover a {
    background-color:#cc1f00;
}
.tabs ul li:hover, .tabs ul li:hover a {
    background-position:0 0px !important;
}
.tabs ul li.active {
    background-color: #C2DDC0;
    border-bottom: thin solid #C2DDC0;
    background: none repeat scroll 0 0 transparent;
    
    /*padding-bottom: 0.4em !important;*/
    background:transparent url(/theme_gplus/images/greenacc/tab-left-green-bg.png) no-repeat scroll left top;
}

.tabs ul li.active a {
    background-color: #C2DDC0 !important;
    border-top: solid 1px #506428;
    border-bottom: thin solid #C2DDC0 !important;
}



form .basic-table, .screenlet-body .basic-table {
    padding: 0.4em !important;
}



/*sort tables*/

.basic-table .header-row-2 th .sort-order, .basic-table .header-row-2 td .sort-order {
    background: url(/theme_gplus/images/greenacc/arrow-gr.png) no-repeat scroll right center transparent !important;
}

.basic-table .header-row-2 th .sort-order-desc, .basic-table .header-row-2 td .sort-order-desc {
    background: url(/theme_gplus/images/greenacc/arrow-gr-dw.png) no-repeat scroll right center transparent !important;
}

.basic-table .header-row-2 th .sort-order-asc, .basic-table .header-row-2 td .sort-order-asc {
    background: url(/theme_gplus/images/greenacc/arrow-gr-up.png) no-repeat scroll right center transparent !important;
}



.hover-bar tr:hover, .hover-bar tr:hover td {
    background-color: #99D7D4 !important;
}



input.smallButton[type="button"] {
	background: #ECF5EC;
    color: #000000;
}





#management-form-screenlet #portlet-container_GP_WE_PORTAL_GP_Calendar_00004 .screenlet .screenlet-title-bar li a,
#management-form-screenlet #portlet-container_GP_WE_PORTAL_SystemExtInfoNotes_00001 .screenlet .screenlet-title-bar li a,
#management-form-screenlet #portlet-container_GP_WE_PORTAL_Communications_00003 .screenlet .screenlet-title-bar li a,
#management-form-screenlet #portlet-container_GP_WE_PORTAL_AsyncJobList_00099 .screenlet .screenlet-title-bar li a,
#management-form-screenlet #portlet-container_GP_WE_PORTAL_2_WEComm_00004 .screenlet .screenlet-title-bar li a,
#management-form-screenlet #portlet-container_GP_WE_PORTAL_4_WEComm_00004 .screenlet .screenlet-title-bar li a,
#management-form-screenlet #portlet-container_GP_WE_PORTAL_5_WEComm_00004 .screenlet .screenlet-title-bar li a,
#management-form-screenlet #portlet-container_GP_WE_PORTAL_2_GP_Calendar_Assoc_00005 .screenlet .screenlet-title-bar li a,
#management-form-screenlet #portlet-container_GP_WE_PORTAL_4_GP_Calendar_Assoc_00005 .screenlet .screenlet-title-bar li a,
#management-form-screenlet #portlet-container_GP_WE_PORTAL_5_GP_Calendar_Assoc_00005 .screenlet .screenlet-title-bar li a {
    color: #0B8800 !important;
}



html > body #main-container-screenlet * div.screenlet-title-bar ul li.right-menu, html > body div.transactionPortlet * div.screenlet-title-bar ul li.right-menu {
    color: #0B8800 !important;
}



.smallSubmit, .smallSubmit:visited {
	background-color: #ECF5EC !important;
    color: #000000 !important;
}

#MB_content {
	background: #ECF5EC;
}

#MB_caption {
    background: #C2DDC0;
}


input[type="submit"] {
	background: #ECF5EC;
    color: #000000;
}

input[type="submit"]:hover {
	background: #ECF5EC;
    color: #000000;
    text-decoration: none;
}


.buttontext, .buttontext:visited {
	background: #ECF5EC !important;
    color: #000000 !important;
}

.buttontext:hover {
	text-decoration: none;
}



form[name="loginform"] .basic-table {
	background-color: #ECF5EC;
	border-collapse:collapse;
}

form[name="loginform"] .basic-table tr, form[name="loginform"] .basic-table tr td {
	border: none;
}


form[name="forgotpassword"] .basic-table {
	background-color: #ECF5EC;
	border-collapse:collapse;
}

form[name="forgotpassword"] .basic-table tr, form[name="forgotpassword"] .basic-table tr td {
	border: none;
}

