div.screenlet, table input, select, textarea {
    border-color: #0000B4;
    color: #232323;
}
input[type="text"], input[type="password"] {
    border-color: #0000B4;
    color: #232323;
}

.nav-pager {
    border:0.1em solid #0000B4;
}

#common-container {
    border-left: 0.1em solid #0000B4;
    border-right: 0.1em solid #0000B4;
    border-bottom: 0.1em solid #0000B4;
}

/* ********************************** */
/*        Prima riga di testata       */
/* ********************************** */
#first-header-row {
    background: #2877ef url('/theme_gplus/images/blu/breadcrumbs-blu-bg.png') repeat-y;
    border: 0.1em solid #0000B4;
}
/* ********************************** */

#main-container-screenlet div.screenlet-title-bar { /* IE FIX Per simulare il selettore first:child */
    border-bottom:0.1em solid #0000B4;
}
#main-container-screenlet * div.screenlet-title-bar {
    border-bottom: none;
}

.basic-table .header-row-2 th,
.basic-table .header-row-2 td  {
    background-color: #2C41C4;
}
.portlet .basic-table .header-row-2 th,
.portlet .basic-table .header-row-2 td  {
    background-color: #75BEDA;
}

.basic-table .alternate-row {
    background-color: #E9EDF4 !important;
}

.list-table, .basic-form .list-table {
    background-color: #D0D8E8;
}

.tabs ul li {
    background:transparent url(/theme_gplus/images/blu/tab-left-blu-bg.png) no-repeat scroll left top;
}
.tabs ul li a {
    background-color:#2877ef;
    border-right: #0000B4 solid thin;
    border-top: #0000B4 solid thin;
    border-bottom: #0000B4 solid thin;
}
.tabs ul li:hover a {
    background-color:#1d56de;
}
.tabs ul li.active {
    background:transparent url(/theme_gplus/images/blu/tab-selected-left-blu-bg.png) no-repeat scroll left top;
}

.wizard-header {
    background: #2877ef url('/theme_gplus/images/blu/breadcrumbs-blu-bg.png') repeat-y;
    border: 0.1em solid #0000B4;
}
.multi-editable tr td {
    border-left: 0.1em solid #2C41C4 !important;
    border-bottom: 0.1em solid #2C41C4 !important;
}
/* ********************************** */
/*       Fake Field Group             */
/* ********************************** */
.basic-form table tr .field-group-title {
    /*border-color: #2878f0;*/
    background-color: #2c41c4;
}
/* ********************************** */
/*        Panel (Portlet)             */
/* ********************************** */

#management-form-screenlet div.child-management div.screenlet-title-bar,
#main-container-screenlet div.child-management div.screenlet-title-bar,
#management-form-screenlet div.parent-management-container-title div.screenlet-title-bar,
#management-form-screenlet div.child-management-container-title div.screenlet-title-bar,
.screenlet-lookup div.screenlet-title-bar,
.login-screenlet .screenlet-title-bar,
.communication-container .screenlet-title-bar,
div.transactionPortlet .screenlet-title-bar  {
    background: #2877ef url('/theme_gplus/images/blu/breadcrumbs-blu-bg.png') repeat-y;
}

/*#main-container-screenlet div.child-management div.screenlet-title-bar {
    background-image: url('/theme_gplus/images/blu/breadcrumbs-blu-bg.png');
}*/

.basic-form td span.widget-style {
    border: 0.1em solid #0000B4;
}
/*************************************/
/*       Lookup                      */
/*************************************/
/*
input.lookup_field_description {
    border-color: #0000B4;
}
*/
input[type=text].lookup_field_description {
    border-color: #0000B4;
}
input[type=hidden].lookup_field_description {
    border: none;
}
/*************************************/
/*       Campo di Testata            */
/*************************************/
.cella {
    border-color: #0000B4;
}

/* ********************************** */
/*	Portlet style				      */
/* ********************************** */
.portlet, parent-management-screenlet-title {
    border-color: #0000B4;
}

form a.image_anchor {
    border-color: #0000B4;
}

/* ********************************** */
/*	Treeview style				      */
/* ********************************** */
.treeview-outer-table, div.treeview-container-tree {
    border-color: #0000B4 !important;
}

/* ********************************** */
/*	TreeMenu style				      */
/* ********************************** */
.treemenu-body-slidearea-preferred,  .treemenu-body-slidearea-history {
    background-color: #283CB4;
    border-color: #0000B4 !important;
}

/* item cliccabili in preferred & history*/
.treemenu-item-facility {
    color: #ffffff;
}
.treemenu-item-facility:hover {
    color: #bbbbbb;
}

.treemenu-head {
    border-color: #0000B4 !important;
}

.treemenu-body-links {
    border-color: #0000B4 !important;
}

div.resAnalysisWidgetBorder {
	border-color: #2877ef
}

b.rtop b, b.rbottom b {
	background: #2877ef
}