div.screenlet, table input, select, textarea {
    border-color: #860000;
}
input[type="text"], input[type="password"] {
    border-color: #860000;
}

.nav-pager {
    border:0.1em solid #860000;
}

#common-container {
    border-left: 0.1em solid #860000;
    border-right: 0.1em solid #860000;
    border-bottom: 0.1em solid #860000;
}

/* ********************************** */
/*        Prima riga di testata       */
/* ********************************** */
#first-header-row {
    background: #dc4400 url('/theme_gplus/images/red/breadcrumbs-red-bg.png') repeat-y;
    border: 0.1em solid #860000;
}
/* ********************************** */

#main-container-screenlet div.screenlet-title-bar { /* IE FIX Per simulare il selettore first:child */
    border-bottom:0.1em solid #860000;
}
#main-container-screenlet * div.screenlet-title-bar {
    border-bottom: none;
}

.basic-table .header-row-2 th,
.basic-table .header-row-2 td  {
    background-color: #CF0000;
}

.portlet .basic-table .header-row-2 th,
.portlet .basic-table .header-row-2 td  {
    background-color: #EB2E00;
}

.basic-table .alternate-row {
    background-color: #f4e9e9 !important;
}

.list-table, .basic-form .list-table {
    background-color: #e8d0d0;
}

.tabs ul li {
    background:transparent url(/theme_gplus/images/red/tab-left-red-bg.png) no-repeat scroll left top;
}
.tabs ul li a {
    background-color:#dc4400;
    border-right: #860000 solid thin;
    border-top: #860000 solid thin;
    border-bottom: #860000 solid thin;
}
.tabs ul li:hover a {
    background-color:#cc1f00;
}
.tabs ul li.active {
    background:transparent url(/theme_gplus/images/red/tab-selected-left-red-bg.png) no-repeat scroll left top;
}

.wizard-header {
    background: #dc4400 url('/theme_gplus/images/red/breadcrumbs-red-bg.png') repeat-y;
    border: 0.1em solid #860000;
}
.multi-editable tr td {
    border-left: 0.1em solid #CF0000 !important;
    border-bottom: 0.1em solid #CF0000 !important;
}
/* ********************************** */
/*       Fake Field Group             */
/* ********************************** */
.basic-form table tr .field-group-title {
    /*border-color: #de9600;*/
    background-color: #CF0000;
}

/* ********************************** */
/*        Icone Toolbar Hover       */
/* ********************************** */
.screenlet-title-bar ul a:hover {
    color: red;
}

/* ********************************** */
/*        Panel (Portlet)             */
/* ********************************** */
#management-form-screenlet div.child-management div.screenlet-title-bar,
#main-container-screenlet div.child-management div.screenlet-title-bar,
#management-form-screenlet div.parent-management-container-title div.screenlet-title-bar,
#management-form-screenlet div.child-management-container-title div.screenlet-title-bar,
.screenlet-lookup div.screenlet-title-bar,
.login-screenlet .screenlet-title-bar,
.communication-container .screenlet-title-bar,
div.transactionPortlet .screenlet-title-bar   {
    background: #dc4400 url('/theme_gplus/images/red/breadcrumbs-red-bg.png') repeat-y;
}

/*#main-container-screenlet div.child-management div.screenlet-title-bar {
    background-image: url('/theme_gplus/images/red/breadcrumbs-red-bg.png');
}*/

.basic-form td span.widget-style {
    border: 0.1em solid #860000;
}
/*************************************/
/*       Lookup                      */
/*************************************/
/*
input.lookup_field_description {
    border-color: #860000;
}
*/
input[type=text].lookup_field_description {
    border-color: #860000;
}
input[type=hidden].lookup_field_description {
    border: none;
}
/*************************************/
/*       Campo di Testata            */
/*************************************/
.cella {
    border-color: #860000;
}

/* ********************************** */
/*	Portlet style				      */
/* ********************************** */
.portlet, parent-management-screenlet-title {
    border-color: #860000;
}

form a.image_anchor {
    border-color: #860000;
}

/* ********************************** */
/*	Treeview style				      */
/* ********************************** */
.treeview-outer-table, div.treeview-container-tree {
    border-color: #860000 !important;
}

/* ********************************** */
/*	TreeMenu style				      */
/* ********************************** */
.treemenu-body-slidearea-preferred,  .treemenu-body-slidearea-history {
    background-color: #c00000;
    border-color: #860000 !important;
}

/* item cliccabili in preferred & history*/
.treemenu-item-facility {
    color: #ffffff;
}
.treemenu-item-facility:hover {
    color: #bbbbbb;
}

.treemenu-head {
    border-color: #860000 !important;
}

.treemenu-body-links {
    border-color: #860000 !important;
}

div.resAnalysisWidgetBorder {
	border-color: #dc4400
}

b.rtop b, b.rbottom b {
	background: #dc4400
}
