
		<tr>
			<td colspan="1" style="width: 15%;">
				<hr>
			</td>
			<td >
				<hr>
			</td>	
		</tr>
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_workEffortId_mandatory.ftl" />
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_workEffortIdChild.ftl" />
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_monitoringDate_mandatory.ftl" />		
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_orgUnitId.ftl" />
	
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_excludeIndicator.ftl" />
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_exposeDetailIndicator.ftl" />
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_excludePerformanceKPI.ftl" />
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_excludeGantt.ftl" />	
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_excludeExtensionDescriotion.ftl" />
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_selectNote.ftl" />	
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_typeNotes.ftl" />
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_exposeOnlyIndex.ftl" />	
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_exposeReleaseDate.ftl" />	
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_exposePaginator.ftl" />	
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_excludeValidity.ftl" />	
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_excludeIntroduction.ftl" />		
