

		<tr>
			<td colspan="1" style="width: 15%;">
				<hr>
			</td>
			<td >
				<hr>
			</td>	
		</tr>
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_workEffortIdAll.ftl" />
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_orgUnitId.ftl" />
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_roleTypeId.ftl" />
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_partyId.ftl" />
		
		<tr>
			<td colspan="1">
				<br><hr><br>
			</td>	
		</tr>
		<tr>
			<td colspan="2">
				<b><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ${uiLabelMap.ParametriOpzionale} </i></b> <br><br>
			</td>
		</tr>
		
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_exposeReleaseDate.ftl" />	
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_exposePaginator.ftl" />		
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_excludeIntroduction.ftl" />
		<#include  "/workeffortext/webapp/workeffortext/birt/ftl/param/managementPrintBirtForm_excludeImageNote.ftl" />